{
  "openapi": "3.0.0",
  "info": {
    "title": "TFC Simulate API",
    "version": "1.0.0",
    "description": "Complete API documentation for Simulate module - scenario management, agent definitions, test executions, and call analytics",
    "contact": {
      "email": "support@futureagi.com"
    }
  },
  "servers": [
    {
      "url": "https://api.futureagi.com",
      "description": "Production Simulate"
    }
  ],
  "tags": [
    {
        "name": "Health",
        "description": "Health check operations for monitoring server status"
    },
    {
        "name": "Authentication",
        "description": "User authentication and token management"
    },
    {
      "name": "Scenarios",
      "description": "Test scenario management and execution"
    },
    {
      "name": "Agent Definitions",
      "description": "Agent definition CRUD operations"
    },
    {
      "name": "Agent Versions",
      "description": "Agent version control and management"
    },
    {
      "name": "Simulator Agents",
      "description": "Simulator agent operations"
    },
    {
      "name": "Run Tests",
      "description": "Test execution management"
    },
    {
      "name": "Test Executions",
      "description": "Test execution tracking and analytics"
    },
    {
      "name": "Call Executions",
      "description": "Individual call execution details"
    },
    {
      "name": "Call Transcripts",
      "description": "Transcript management and retrieval"
    },
    {
      "name": "Personas",
      "description": "Persona management for testing"
    },
    {
      "name": "Analytics",
      "description": "Analytics and reporting"
    },
    {
      "name": "Export",
      "description": "Data export operations"
    }
  ],
  "paths": {
    "/health/": {
      "get": {
        "summary": "Health check",
        "description": "Returns 200 status when server is up and running. No authentication required.",
        "operationId": "healthCheck",
        "tags": ["Health"],
        "security": [],
        "responses": {
          "200": {
            "description": "Server is healthy and running",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "description": "Status of the request",
                      "example": true
                    },
                    "result": {
                      "type": "string",
                      "description": "Health status message",
                      "example": "Server is up and running"
                    }
                  },
                  "required": ["status", "result"]
                },
                "examples": {
                  "success": {
                    "summary": "Successful health check",
                    "value": {
                      "status": true,
                      "result": "Server is up and running"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/token/": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Obtain JWT token",
        "description": "Authenticate user and obtain access and refresh tokens",
        "operationId": "tokenObtainPair",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "User email address",
                    "example": "user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "User password",
                    "example": "password123"
                  },
                  "rememberMe": {
                    "type": "boolean",
                    "description": "Remember user session",
                    "default": false
                  },
                  "organizationId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Optional organization ID for direct login"
                  },
                  "recaptchaResponse": {
                    "type": "string",
                    "description": "reCAPTCHA verification token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access": {
                      "type": "string",
                      "description": "Access token (encrypted)"
                    },
                    "refresh": {
                      "type": "string",
                      "description": "Refresh token (encrypted)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid credentials or blocked account",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "Invalid credentials"
                        },
                        "remainingAttempts": {
                          "type": "integer",
                          "example": 3
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "Account temporarily blocked. Please try again in 45 minutes."
                        },
                        "blocked": {
                          "type": "boolean",
                          "example": true
                        },
                        "blockTimeRemaining": {
                          "type": "integer",
                          "example": 2700
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/simulate/scenarios/": {
      "get": {
        "summary": "List scenarios",
        "description": "Get paginated list of scenarios for the user's organization with optional search and filtering",
        "operationId": "listScenarios",
        "tags": ["Scenarios"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search by scenario name or source"
          },
          {
            "name": "agent_definition_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter by agent definition ID"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of scenarios",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Scenario"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/simulate/scenarios/create/": {
      "post": {
        "summary": "Create scenario",
        "description": "Create a new scenario (dataset, script, or graph-based)",
        "operationId": "createScenario",
        "tags": ["Scenarios"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "agent_definition_id"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Scenario name",
                    "example": "Customer Support Test"
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional scenario description"
                  },
                  "kind": {
                    "type": "string",
                    "enum": [
                      "dataset",
                      "script",
                      "graph"
                    ],
                    "default": "dataset",
                    "description": "Type of scenario to create"
                  },
                  "dataset_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Required for dataset kind - ID of dataset to copy"
                  },
                  "agent_definition_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the agent definition"
                  },
                  "script_url": {
                    "type": "string",
                    "format": "url",
                    "description": "Required for script kind - URL of the script"
                  },
                  "no_of_rows": {
                    "type": "integer",
                    "default": 20,
                    "description": "Number of rows to generate"
                  },
                  "generate_graph": {
                    "type": "boolean",
                    "default": false,
                    "description": "For graph kind - whether to auto-generate graph"
                  },
                  "graph": {
                    "type": "object",
                    "description": "For graph kind - provide graph data directly"
                  },
                  "personas": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "List of persona IDs to use"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Scenario creation started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Dataset scenario creation started"
                    },
                    "scenario": {
                      "$ref": "#/components/schemas/Scenario"
                    },
                    "status": {
                      "type": "string",
                      "example": "processing"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data"
          }
        }
      }
    },
    "/simulate/scenarios/{scenario_id}/": {
      "get": {
        "summary": "Get scenario details",
        "description": "Retrieve detailed information about a specific scenario",
        "operationId": "getScenarioDetail",
        "tags": ["Scenarios"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "scenario_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scenario details with graph and prompts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScenarioDetail"
                }
              }
            }
          },
          "404": {
            "description": "Scenario not found"
          }
        }
      }
    },
    "/simulate/scenarios/{scenario_id}/edit/": {
      "put": {
        "summary": "Update scenario",
        "description": "Update scenario name, description, graph, and/or prompt",
        "operationId": "updateScenario",
        "tags": ["Scenarios"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "scenario_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "New scenario name"
                  },
                  "description": {
                    "type": "string",
                    "description": "New scenario description"
                  },
                  "graph": {
                    "type": "object",
                    "description": "Graph configuration data"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "System prompt for simulator agent"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scenario updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "scenario": {
                      "$ref": "#/components/schemas/Scenario"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/simulate/scenarios/{scenario_id}/prompts/": {
      "put": {
        "summary": "Update scenario prompts",
        "description": "Update the simulator agent prompts for a scenario",
        "operationId": "updateScenarioPrompts",
        "tags": ["Scenarios"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "scenario_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompts"
                ],
                "properties": {
                  "prompts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user",
                            "assistant"
                          ]
                        },
                        "content": {
                          "type": "string"
                        }
                      }
                    },
                    "example": [
                      {
                        "role": "system",
                        "content": "You are a helpful customer support agent"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prompts updated successfully"
          }
        }
      }
    },
    "/simulate/scenarios/{scenario_id}/delete/": {
      "delete": {
        "summary": "Delete scenario",
        "description": "Soft delete a scenario (sets deleted flag)",
        "operationId": "deleteScenario",
        "tags": ["Scenarios"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "scenario_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scenario deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/simulate/scenarios/{scenario_id}/add-rows/": {
      "post": {
        "summary": "Add rows to scenario",
        "description": "Generate and add new rows to a scenario's dataset",
        "operationId": "addScenarioRows",
        "tags": ["Scenarios"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "scenario_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "num_rows"
                ],
                "properties": {
                  "num_rows": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "description": "Number of rows to add (1-100)",
                    "example": 10
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional description for the rows"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Row generation started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "scenario_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "dataset_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "num_rows": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/simulate/agent-definitions/": {
      "get": {
        "summary": "List agent definitions",
        "description": "Get paginated list of agent definitions with search",
        "operationId": "listAgentDefinitions",
        "tags": ["Agent Definitions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search by agent name, contact number, or description"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of agent definitions"
          }
        }
      }
    },
    "/simulate/agent-definitions/create/": {
      "post": {
        "summary": "Create agent definition",
        "description": "Create a new agent definition with initial version",
        "operationId": "createAgentDefinition",
        "tags": ["Agent Definitions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "agent_name",
                  "assistant_id",
                  "provider",
                  "api_key"
                ],
                "properties": {
                  "agent_name": {
                    "type": "string",
                    "description": "Name of the agent",
                    "example": "Support Agent"
                  },
                  "agent_type": {
                    "type": "string",
                    "description": "Type of agent"
                  },
                  "contact_number": {
                    "type": "string",
                    "description": "Contact number for the agent",
                    "example": "+1234567890"
                  },
                  "inbound": {
                    "type": "boolean",
                    "description": "Whether this is an inbound agent"
                  },
                  "description": {
                    "type": "string",
                    "description": "Agent description"
                  },
                  "assistant_id": {
                    "type": "string",
                    "description": "Assistant ID from provider"
                  },
                  "provider": {
                    "type": "string",
                    "description": "Provider (e.g., 'vapi', 'retell')",
                    "example": "vapi"
                  },
                  "language": {
                    "type": "string",
                    "default": "en",
                    "description": "Language code"
                  },
                  "websocket_url": {
                    "type": "string",
                    "nullable": true,
                    "description": "WebSocket URL for agent communication"
                  },
                  "websocket_headers": {
                    "type": "object",
                    "nullable": true,
                    "description": "Headers for WebSocket connection"
                  },
                  "knowledge_base": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true,
                    "description": "Knowledge base ID"
                  },
                  "api_key": {
                    "type": "string",
                    "description": "API key for the provider"
                  },
                  "webhook_secret": {
                    "type": "string",
                    "nullable": true,
                    "description": "Webhook secret for provider callbacks"
                  },
                  "observability_enabled": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable observability tracking"
                  },
                  "commit_message": {
                    "type": "string",
                    "description": "Initial commit message for version"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent definition created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "agent": {
                      "$ref": "#/components/schemas/AgentDefinition"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/simulate/agent-definitions/{agent_id}/": {
      "get": {
        "summary": "Get agent definition details",
        "description": "Retrieve agent definition with version history and active version info",
        "operationId": "getAgentDefinition",
        "tags": ["Agent Definitions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent definition with versions"
          },
          "404": {
            "description": "Agent definition not found"
          }
        }
      }
    },
    "/simulate/agent-definitions/{agent_id}/edit/": {
      "put": {
        "summary": "Update agent definition",
        "description": "Update agent definition properties",
        "operationId": "updateAgentDefinition",
        "tags": ["Agent Definitions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "contact_number": {
                    "type": "string"
                  },
                  "assistant_id": {
                    "type": "string"
                  },
                  "provider": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "webhook_secret": {
                    "type": "string"
                  },
                  "knowledge_base": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent definition updated"
          }
        }
      }
    },
    "/simulate/agent-definitions/{agent_id}/delete/": {
      "delete": {
        "summary": "Delete agent definition",
        "description": "Soft delete an agent definition",
        "operationId": "deleteAgentDefinition",
        "tags": ["Agent Definitions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent definition deleted successfully"
          }
        }
      }
    },
    "/simulate/agent-definitions/{agent_id}/versions/": {
      "get": {
        "summary": "List simulate agent versions",
        "description": "Get all versions of an agent definition with pagination",
        "operationId": "listAgentVersions",
        "tags": ["Agent Versions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of agent versions"
          }
        }
      }
    },
    "/simulate/agent-definitions/{agent_id}/versions/create/": {
      "post": {
        "summary": "Create new agent version",
        "description": "Create a new version of an agent definition",
        "operationId": "createAgentVersion",
        "tags": ["Agent Versions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_name": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "contact_number": {
                    "type": "string"
                  },
                  "provider": {
                    "type": "string"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "webhook_secret": {
                    "type": "string"
                  },
                  "knowledge_base": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  },
                  "commit_message": {
                    "type": "string"
                  },
                  "observability_enabled": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent version created"
          }
        }
      }
    },
    "/simulate/agent-definitions/{agent_id}/versions/{version_id}/": {
      "get": {
        "summary": "Get agent version details",
        "tags": ["Agent Versions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent version details"
          }
        }
      }
    },
    "/simulate/agent-definitions/{agent_id}/versions/{version_id}/activate/": {
      "post": {
        "summary": "Activate agent version",
        "description": "Set an agent version as active",
        "operationId": "activateAgentVersion",
        "tags": ["Agent Versions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent version activated"
          }
        }
      }
    },
    "/simulate/agent-definitions/{agent_id}/versions/{version_id}/delete/": {
      "delete": {
        "summary": "Delete agent version",
        "tags": ["Agent Versions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent version deleted"
          }
        }
      }
    },
    "/simulate/agent-definitions/{agent_id}/versions/{version_id}/restore/": {
      "post": {
        "summary": "Restore agent version",
        "description": "Restore a previously deleted agent version",
        "operationId": "restoreAgentVersion",
        "tags": ["Agent Versions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent version restored"
          }
        }
      }
    },
    "/simulate/agent-definitions/{agent_id}/versions/{version_id}/eval-summary/": {
      "get": {
        "summary": "Get agent version eval summary",
        "tags": ["Agent Versions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Evaluation summary"
          }
        }
      }
    },
    "/simulate/agent-definitions/{agent_id}/versions/{version_id}/call-executions/": {
      "get": {
        "summary": "Get agent version call executions",
        "tags": ["Agent Versions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call executions for version"
          }
        }
      }
    },
    "/simulate/simulator-agents/": {
      "get": {
        "summary": "List simulator agents",
        "description": "Get paginated list of simulator agents with search",
        "operationId": "listSimulatorAgents",
        "tags": ["Simulator Agents"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search by agent name, prompt, model, or voice provider"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of simulator agents"
          }
        }
      }
    },
    "/simulate/simulator-agents/create/": {
      "post": {
        "summary": "Create simulator agent",
        "description": "Create a new simulator agent configuration",
        "operationId": "createSimulatorAgent",
        "tags": ["Simulator Agents"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "model"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Agent name",
                    "example": "Customer Support Bot"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "System prompt for the agent"
                  },
                  "voice_provider": {
                    "type": "string",
                    "default": "elevenlabs",
                    "description": "Voice provider (e.g., elevenlabs, google)"
                  },
                  "voice_name": {
                    "type": "string",
                    "default": "marissa",
                    "description": "Voice name/ID"
                  },
                  "model": {
                    "type": "string",
                    "description": "LLM model to use",
                    "example": "gpt-4"
                  },
                  "llm_temperature": {
                    "type": "number",
                    "default": 0.7,
                    "description": "LLM temperature (0-2)"
                  },
                  "max_call_duration_in_minutes": {
                    "type": "integer",
                    "default": 30,
                    "description": "Maximum call duration"
                  },
                  "interrupt_sensitivity": {
                    "type": "number",
                    "default": 0.5,
                    "description": "Interrupt sensitivity (0-1)"
                  },
                  "conversation_speed": {
                    "type": "number",
                    "default": 1.0,
                    "description": "Conversation speed multiplier"
                  },
                  "finished_speaking_sensitivity": {
                    "type": "number",
                    "default": 0.5,
                    "description": "Sensitivity for detecting end of speech"
                  },
                  "initial_message": {
                    "type": "string",
                    "description": "Initial greeting message"
                  },
                  "initial_message_delay": {
                    "type": "integer",
                    "default": 0,
                    "description": "Delay before sending initial message (ms)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Simulator agent created"
          }
        }
      }
    },
    "/simulate/simulator-agents/{agent_id}/": {
      "get": {
        "summary": "Get simulator agent details",
        "operationId": "getSimulatorAgent",
        "tags": ["Simulator Agents"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Simulator agent details"
          }
        }
      }
    },
    "/simulate/simulator-agents/{agent_id}/edit/": {
      "put": {
        "summary": "Update simulator agent",
        "description": "Update simulator agent configuration",
        "operationId": "updateSimulatorAgent",
        "tags": ["Simulator Agents"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "voice_provider": {
                    "type": "string"
                  },
                  "voice_name": {
                    "type": "string"
                  },
                  "model": {
                    "type": "string"
                  },
                  "llm_temperature": {
                    "type": "number"
                  },
                  "max_call_duration_in_minutes": {
                    "type": "integer"
                  },
                  "interrupt_sensitivity": {
                    "type": "number"
                  },
                  "conversation_speed": {
                    "type": "number"
                  },
                  "finished_speaking_sensitivity": {
                    "type": "number"
                  },
                  "initial_message": {
                    "type": "string"
                  },
                  "initial_message_delay": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Simulator agent updated"
          }
        }
      }
    },
    "/simulate/simulator-agents/{agent_id}/delete/": {
      "delete": {
        "summary": "Delete simulator agent",
        "operationId": "deleteSimulatorAgent",
        "tags": ["Simulator Agents"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Simulator agent deleted successfully"
          }
        }
      }
    },
    "/simulate/run-tests/": {
      "get": {
        "summary": "List run tests",
        "description": "Get paginated list of run tests with search",
        "operationId": "listRunTests",
        "tags": ["Run Tests"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search by run test name or agent definition name"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of run tests"
          }
        }
      }
    },
    "/simulate/run-tests/create/": {
      "post": {
        "summary": "Create run test",
        "description": "Create a new run test configuration",
        "operationId": "createRunTest",
        "tags": ["Run Tests"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "agent_definition_id",
                  "scenario_ids"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the run test",
                    "example": "Q1 Testing"
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional description"
                  },
                  "agent_definition_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the agent definition to test"
                  },
                  "agent_version": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true,
                    "description": "Specific agent version (optional, uses latest if not provided)"
                  },
                  "scenario_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "List of scenario IDs to include in test"
                  },
                  "dataset_row_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Specific dataset row IDs to test"
                  },
                  "enable_tool_evaluation": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable tool use evaluation"
                  },
                  "evaluations_config": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "description": "Evaluation configurations"
                  },
                  "eval_config_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "Existing eval config IDs to reuse"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Run test created"
          }
        }
      }
    },
    "/simulate/run-tests/{run_test_id}/": {
      "get": {
        "summary": "Get run test details",
        "operationId": "getRunTest",
        "tags": ["Run Tests"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "run_test_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Run test details"
          }
        }
      }
    },
    "/simulate/run-tests/{run_test_id}/scenarios/": {
      "get": {
        "summary": "Get run test scenarios",
        "operationId": "getRunTestScenarios",
        "tags": ["Run Tests"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "run_test_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scenarios for run test"
          }
        }
      }
    },
    "/simulate/run-tests/{run_test_id}/executions/": {
      "get": {
        "summary": "Get run test executions",
        "operationId": "getRunTestExecutions",
        "tags": ["Run Tests"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "run_test_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test executions"
          }
        }
      }
    },
    "/simulate/run-tests/{run_test_id}/delete/": {
      "patch": {
        "summary": "Delete run test",
        "description": "Soft delete a run test",
        "operationId": "deleteRunTest",
        "tags": ["Run Tests"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "run_test_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Run test deleted"
          }
        }
      }
    },
    "/simulate/run-tests/{run_test_id}/components/": {
      "patch": {
        "summary": "Update run test components",
        "operationId": "updateRunTestComponents",
        "tags": ["Run Tests"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "run_test_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Components updated"
          }
        }
      }
    },
    "/simulate/test-executions/{test_execution_id}/": {
      "get": {
        "summary": "Get test execution details",
        "operationId": "getTestExecutionDetail",
        "tags": ["Test Executions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "test_execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test execution details"
          }
        }
      }
    },
    "/simulate/test-executions/{test_execution_id}/column-order/": {
      "put": {
        "summary": "Update test execution column order",
        "description": "Update the column order in test execution results",
        "operationId": "updateTestExecutionColumnOrder",
        "tags": ["Test Executions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "test_execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Column order updated"
          }
        }
      }
    },
    "/simulate/test-executions/{test_execution_id}/delete/": {
      "delete": {
        "summary": "Delete test execution",
        "description": "Delete a test execution",
        "operationId": "deleteTestExecution",
        "tags": ["Test Executions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "test_execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test execution deleted"
          }
        }
      }
    },
    "/simulate/call-executions/{call_execution_id}/": {
      "get": {
        "summary": "Get call execution details",
        "operationId": "getCallExecution",
        "tags": ["Call Executions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "call_execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call execution details"
          }
        }
      }
    },
    "/simulate/call-executions/{call_execution_id}/delete/": {
      "delete": {
        "summary": "Delete call execution",
        "operationId": "deleteCallExecution",
        "tags": ["Call Executions"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "call_execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call execution deleted"
          }
        }
      }
    },
    "/simulate/call-executions/{call_execution_id}/transcripts/": {
      "get": {
        "summary": "Get call transcripts",
        "description": "Retrieve transcripts for a specific call execution",
        "operationId": "getCallTranscripts",
        "tags": ["Call Transcripts"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "call_execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call transcripts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "call_execution_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "phone_number": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "transcripts": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "total_transcripts": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/simulate/call-executions/{call_execution_id}/fetch-transcript/": {
      "post": {
        "summary": "Fetch and store transcript",
        "description": "Manually fetch and store transcript for a call from provider",
        "operationId": "fetchCallTranscript",
        "tags": ["Call Transcripts"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "call_execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript fetched and stored",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "call_execution_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "vapi_call_id": {
                      "type": "string"
                    },
                    "transcripts_count": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/simulate/call-executions/{call_execution_id}/branch-analysis/": {
      "post": {
        "summary": "Get call branch analysis",
        "description": "Analyze conversation branches and deviations for a call",
        "operationId": "analyzeCallBranch",
        "tags": ["Call Transcripts"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "call_execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Branch analysis"
          }
        }
      }
    },
    "/simulate/run-tests/{test_execution_id}/transcripts/": {
      "get": {
        "summary": "Get test execution transcripts",
        "description": "Retrieve all transcripts for all calls in a test execution",
        "operationId": "getTestExecutionTranscripts",
        "tags": ["Call Transcripts"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "test_execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All transcripts for test execution"
          }
        }
      }
    },
    "/simulate/api/personas/": {
      "get": {
        "summary": "List personas",
        "description": "List all accessible personas (system + workspace) with pagination and filters",
        "operationId": "listPersonas",
        "tags": ["Personas"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "prebuilt",
                "custom"
              ]
            },
            "description": "Filter by persona type ('prebuilt' for system, 'custom' for workspace)"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search by name, description, or keywords"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of personas"
          }
        }
      },
      "post": {
        "summary": "Create persona",
        "description": "Create a new workspace-level persona",
        "operationId": "createPersona",
        "tags": ["Personas"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Persona name",
                    "example": "Business Executive"
                  },
                  "description": {
                    "type": "string",
                    "description": "Persona description"
                  },
                  "gender": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Gender attributes",
                    "example": [
                      "male",
                      "female"
                    ]
                  },
                  "age_group": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Age group attributes"
                  },
                  "location": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Location attributes"
                  },
                  "occupation": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Occupation attributes"
                  },
                  "personality": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "communication_style": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "languages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Persona created"
          }
        }
      }
    },
    "/simulate/api/personas/{id}/": {
      "get": {
        "summary": "Get persona details",
        "operationId": "getPersona",
        "tags": ["Personas"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Persona details"
          }
        }
      },
      "put": {
        "summary": "Update persona",
        "description": "Update a workspace-level persona (system personas cannot be updated)",
        "operationId": "updatePersona",
        "tags": ["Personas"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "age_group": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "location": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "occupation": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Persona updated"
          }
        }
      },
      "patch": {
        "summary": "Partially update persona",
        "operationId": "partialUpdatePersona",
        "tags": ["Personas"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Persona partially updated"
          }
        }
      },
      "delete": {
        "summary": "Delete persona",
        "description": "Delete a workspace-level persona",
        "operationId": "deletePersona",
        "tags": ["Personas"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Persona deleted"
          }
        }
      }
    },
    "/simulate/export/{item_id}/": {
      "get": {
        "summary": "Export data as CSV",
        "description": "Export run test or test execution data as CSV",
        "operationId": "exportAsCSV",
        "tags": ["Export"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "runtest",
                "testexecution"
              ]
            },
            "description": "Type of data to export"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by phone number or scenario name"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by call execution status"
          }
        ],
        "responses": {
          "200": {
            "description": "CSV file exported",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from /accounts/token/ endpoint"
      }
    },
    "schemas": {
      "Scenario": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "scenario_type": {
            "type": "string",
            "enum": [
              "DATASET",
              "SCRIPT",
              "GRAPH"
            ]
          },
          "organization": {
            "type": "string",
            "format": "uuid"
          },
          "dataset": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "dataset_rows": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ScenarioDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "scenario_type": {
            "type": "string"
          },
          "organization": {
            "type": "string",
            "format": "uuid"
          },
          "dataset": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "dataset_rows": {
            "type": "integer"
          },
          "graph": {
            "type": "object"
          },
          "prompts": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AgentDefinition": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "agent_name": {
            "type": "string"
          },
          "agent_type": {
            "type": "string"
          },
          "contact_number": {
            "type": "string"
          },
          "inbound": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "assistant_id": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "websocket_url": {
            "type": "string",
            "nullable": true
          },
          "websocket_headers": {
            "type": "object",
            "nullable": true
          },
          "knowledge_base": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "api_key": {
            "type": "string"
          },
          "webhook_secret": {
            "type": "string",
            "nullable": true
          },
          "observability_provider": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    }
  }
}
