{
  "openapi": "3.0.0",
  "info": {
    "title": "Future AGI API Reference",
    "version": "1.0.0",
    "description": "Complete API documentation for Future AGI, including health checks, authentication, user management, workspaces, organizations, and API keys",
    "contact": {
      "email": "support@futureagi.com"
    }
  },
  "servers": [
    {
      "url": "https://api.futureagi.com",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Health check operations for monitoring server status"
    },
    {
      "name": "Authentication",
      "description": "User authentication and token management"
    },
    {
      "name": "User Management",
      "description": "User signup, profile, and account management"
    },
    {
      "name": "Workspaces",
      "description": "Workspace creation and management"
    },
    {
      "name": "Team Management",
      "description": "Team member and role management"
    },
    {
      "name": "Organizations",
      "description": "Organization selection and switching"
    },
    {
      "name": "API Keys",
      "description": "API key and secret key management"
    }
  ],
  "paths": {
    "/health/": {
      "get": {
        "summary": "Health check",
        "description": "Returns 200 status when server is up and running. No authentication required.",
        "operationId": "healthCheck",
        "tags": ["Health"],
        "security": [],
        "responses": {
          "200": {
            "description": "Server is healthy and running",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "description": "Status of the request",
                      "example": true
                    },
                    "result": {
                      "type": "string",
                      "description": "Health status message",
                      "example": "Server is up and running"
                    }
                  },
                  "required": ["status", "result"]
                },
                "examples": {
                  "success": {
                    "summary": "Successful health check",
                    "value": {
                      "status": true,
                      "result": "Server is up and running"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/token/": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Obtain JWT token",
        "description": "Authenticate user and obtain access and refresh tokens",
        "operationId": "tokenObtainPair",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "User email address",
                    "example": "user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "User password",
                    "example": "password123"
                  },
                  "rememberMe": {
                    "type": "boolean",
                    "description": "Remember user session",
                    "default": false
                  },
                  "organizationId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Optional organization ID for direct login"
                  },
                  "recaptchaResponse": {
                    "type": "string",
                    "description": "reCAPTCHA verification token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access": {
                      "type": "string",
                      "description": "Access token (encrypted)"
                    },
                    "refresh": {
                      "type": "string",
                      "description": "Refresh token (encrypted)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid credentials or blocked account",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "Invalid credentials"
                        },
                        "remainingAttempts": {
                          "type": "integer",
                          "example": 3
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "Account temporarily blocked. Please try again in 45 minutes."
                        },
                        "blocked": {
                          "type": "boolean",
                          "example": true
                        },
                        "blockTimeRemaining": {
                          "type": "integer",
                          "example": 2700
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/token/refresh/": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Refresh JWT token",
        "description": "Get a new access token using refresh token",
        "operationId": "tokenRefresh",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["refresh"],
                "properties": {
                  "refresh": {
                    "type": "string",
                    "description": "Encrypted refresh token"
                  },
                  "recaptchaResponse": {
                    "type": "string",
                    "description": "reCAPTCHA verification token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New access token generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access": {
                      "type": "string",
                      "description": "New access token"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired refresh token"
          }
        }
      }
    },
    "/accounts/signup/": {
      "post": {
        "tags": ["User Management"],
        "summary": "User signup",
        "description": "Create a new user account",
        "operationId": "userSignup",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password", "fullName"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "newuser@example.com"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "minLength": 8
                  },
                  "fullName": {
                    "type": "string",
                    "example": "John Doe"
                  },
                  "organizationName": {
                    "type": "string",
                    "example": "My Company"
                  },
                  "recaptchaResponse": {
                    "type": "string",
                    "description": "reCAPTCHA verification token"
                  },
                  "allowEmail": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully"
          },
          "400": {
            "description": "Invalid input or user already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "User with this email already exists."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/user-info/": {
      "get": {
        "tags": ["User Management"],
        "summary": "Get user information",
        "description": "Retrieve authenticated user's profile information",
        "operationId": "getUserInfo",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User information retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "fullName": {
                      "type": "string"
                    },
                    "rememberMe": {
                      "type": "boolean"
                    },
                    "wsEnabled": {
                      "type": "boolean"
                    },
                    "getStartedCompleted": {
                      "type": "boolean"
                    },
                    "organization": {
                      "type": "object"
                    },
                    "workspaces": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/accounts/onboarding/": {
      "post": {
        "tags": ["User Management"],
        "summary": "User onboarding",
        "description": "Complete user onboarding process",
        "operationId": "userOnboarding",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "organizationName": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string"
                  },
                  "useCase": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Onboarding completed"
          }
        }
      }
    },
    "/accounts/first-checks/": {
      "get": {
        "tags": ["User Management"],
        "summary": "Get first-time checks",
        "description": "Get status of first-time user onboarding checks",
        "operationId": "firstChecks",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "First-time checks status"
          }
        }
      }
    },
    "/accounts/password-reset-initiate/": {
      "post": {
        "tags": ["User Management"],
        "summary": "Initiate password reset",
        "description": "Send password reset email to user",
        "operationId": "initiatePasswordReset",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset email sent"
          }
        }
      }
    },
    "/accounts/password-reset-confirm/{uidb64}/{token}/": {
      "post": {
        "tags": ["User Management"],
        "summary": "Confirm password reset",
        "description": "Reset password with token",
        "operationId": "resetPasswordConfirm",
        "security": [],
        "parameters": [
          {
            "name": "uidb64",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Base64 encoded user ID"
          },
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Password reset token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["newPassword"],
                "properties": {
                  "newPassword": {
                    "type": "string",
                    "format": "password",
                    "minLength": 8
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset successful"
          },
          "400": {
            "description": "Invalid or expired token"
          }
        }
      }
    },
    "/accounts/workspaces/": {
      "get": {
        "tags": ["Workspaces"],
        "summary": "List workspaces",
        "description": "Get list of user's workspaces",
        "operationId": "listWorkspaces",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of workspaces"
          }
        }
      },
      "post": {
        "tags": ["Workspaces"],
        "summary": "Create workspace",
        "description": "Create a new workspace",
        "operationId": "createWorkspace",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Production Workspace"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workspace created successfully"
          }
        }
      }
    },
    "/accounts/workspaces/{workspaceId}/": {
      "get": {
        "tags": ["Workspaces"],
        "summary": "Get workspace details",
        "description": "Get details of a specific workspace",
        "operationId": "getWorkspace",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace details"
          },
          "404": {
            "description": "Workspace not found"
          }
        }
      },
      "put": {
        "tags": ["Workspaces"],
        "summary": "Update workspace",
        "description": "Update workspace details",
        "operationId": "updateWorkspace",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace updated"
          }
        }
      },
      "delete": {
        "tags": ["Workspaces"],
        "summary": "Delete workspace",
        "description": "Delete a workspace",
        "operationId": "deleteWorkspace",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Workspace deleted"
          }
        }
      }
    },
    "/accounts/workspaces/{workspaceId}/members/": {
      "get": {
        "tags": ["Team Management"],
        "summary": "List workspace members",
        "description": "Get list of members in a workspace",
        "operationId": "listWorkspaceMembers",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of workspace members"
          }
        }
      },
      "post": {
        "tags": ["Team Management"],
        "summary": "Add workspace member",
        "description": "Add a new member to workspace",
        "operationId": "addWorkspaceMember",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "role"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "role": {
                    "type": "string",
                    "enum": ["admin", "member", "viewer"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Member added successfully"
          }
        }
      }
    },
    "/accounts/workspaces/{workspaceId}/members/{memberId}/": {
      "put": {
        "tags": ["Team Management"],
        "summary": "Update member role",
        "description": "Update workspace member's role",
        "operationId": "updateMemberRole",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": ["admin", "member", "viewer"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member role updated"
          }
        }
      },
      "delete": {
        "tags": ["Team Management"],
        "summary": "Remove workspace member",
        "description": "Remove a member from workspace",
        "operationId": "removeWorkspaceMember",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Member removed"
          }
        }
      }
    },
    "/accounts/workspace/list/": {
      "get": {
        "tags": ["Workspaces"],
        "summary": "List all workspaces (new API)",
        "description": "Get list of all workspaces with filtering",
        "operationId": "workspaceList",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of workspaces"
          }
        }
      }
    },
    "/accounts/workspace/invite/": {
      "post": {
        "tags": ["Team Management"],
        "summary": "Invite to workspace",
        "description": "Send workspace invitation to user",
        "operationId": "workspaceInvite",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "workspaceId", "role"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "workspaceId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "role": {
                    "type": "string",
                    "enum": ["admin", "member", "viewer"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation sent"
          }
        }
      }
    },
    "/accounts/workspace/switch/": {
      "post": {
        "tags": ["Workspaces"],
        "summary": "Switch workspace",
        "description": "Switch to a different workspace",
        "operationId": "switchWorkspace",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["workspaceId"],
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace switched successfully"
          }
        }
      }
    },
    "/accounts/team/users/": {
      "get": {
        "tags": ["Team Management"],
        "summary": "List team users",
        "description": "Get list of all team users",
        "operationId": "listTeamUsers",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of team users"
          }
        }
      }
    },
    "/accounts/user/list/": {
      "get": {
        "tags": ["Team Management"],
        "summary": "List all users",
        "description": "Get list of all users in organization",
        "operationId": "userList",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users"
          }
        }
      }
    },
    "/accounts/user/role/update/": {
      "post": {
        "tags": ["Team Management"],
        "summary": "Update user role",
        "description": "Update a user's role in the organization",
        "operationId": "updateUserRole",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["userId", "role"],
                "properties": {
                  "userId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "role": {
                    "type": "string",
                    "enum": ["admin", "member", "viewer"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Role updated"
          }
        }
      }
    },
    "/accounts/user/delete/": {
      "post": {
        "tags": ["Team Management"],
        "summary": "Delete user",
        "description": "Delete a user from the organization",
        "operationId": "deleteUser",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["userId"],
                "properties": {
                  "userId": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User deleted"
          }
        }
      }
    },
    "/accounts/user/deactivate/": {
      "post": {
        "tags": ["Team Management"],
        "summary": "Deactivate user",
        "description": "Deactivate a user account",
        "operationId": "deactivateUser",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["userId"],
                "properties": {
                  "userId": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User deactivated"
          }
        }
      }
    },
    "/accounts/organizations/": {
      "get": {
        "tags": ["Organizations"],
        "summary": "List organizations",
        "description": "Get list of user's organizations",
        "operationId": "listOrganizations",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "name": {
                        "type": "string"
                      },
                      "displayName": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "enum": ["primary", "invited"]
                      },
                      "role": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/organizations/switch/": {
      "post": {
        "tags": ["Organizations"],
        "summary": "Switch organization",
        "description": "Switch to a different organization",
        "operationId": "switchOrganization",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["organizationId"],
                "properties": {
                  "organizationId": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization switched successfully"
          }
        }
      }
    },
    "/accounts/organizations/current/": {
      "get": {
        "tags": ["Organizations"],
        "summary": "Get current organization",
        "description": "Get details of current active organization",
        "operationId": "getCurrentOrganization",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current organization details"
          }
        }
      }
    },
    "/accounts/keys/": {
      "get": {
        "tags": ["API Keys"],
        "summary": "Get API keys",
        "description": "Get user's API keys",
        "operationId": "getApiKeys",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of API keys"
          }
        }
      }
    },
    "/accounts/key/": {
      "get": {
        "tags": ["API Keys"],
        "summary": "List secret keys",
        "description": "Get list of secret keys",
        "operationId": "listSecretKeys",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of secret keys"
          }
        }
      },
      "post": {
        "tags": ["API Keys"],
        "summary": "Create secret key",
        "description": "Create a new secret key",
        "operationId": "createSecretKey",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Production API Key"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Secret key created"
          }
        }
      }
    },
    "/accounts/key/{keyId}/": {
      "get": {
        "tags": ["API Keys"],
        "summary": "Get secret key",
        "description": "Get details of a specific secret key",
        "operationId": "getSecretKey",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret key details"
          }
        }
      },
      "delete": {
        "tags": ["API Keys"],
        "summary": "Delete secret key",
        "description": "Delete a secret key",
        "operationId": "deleteSecretKey",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Secret key deleted"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from /accounts/token/ endpoint"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Success": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "result": {
            "type": "object"
          }
        }
      }
    }
  }
}
