{
  "openapi": "3.0.0",
  "info": {
    "title": "FutureAGI Unified API",
    "version": "1.0.0",
    "description": "Complete API documentation for FutureAGI platform - Simulate module (scenario management, agent definitions, test executions, call analytics) and Model Hub Evaluations API (evaluation templates, playgrounds, metrics, and execution tracking)",
    "contact": {
      "email": "support@futureagi.com"
    }
  },
  "servers": [
    {
      "url": "https://api.futureagi.com",
      "description": "Production API"
    }
  ],
  "tags": [
    {
        "name": "Health",
        "description": "Health check operations for monitoring server status"
    },
    {
        "name": "Authentication",
        "description": "User authentication and token management"
    },
    {
      "name": "Scenarios",
      "description": "Test scenario management and execution"
    },
    {
      "name": "Agent Definitions",
      "description": "Agent definition CRUD operations"
    },
    {
      "name": "Agent Versions",
      "description": "Agent version control and management"
    },
    {
      "name": "Simulator Agents",
      "description": "Simulator agent operations"
    },
    {
      "name": "Run Tests",
      "description": "Test execution management"
    },
    {
      "name": "Test Executions",
      "description": "Test execution tracking and analytics"
    },
    {
      "name": "Call Executions",
      "description": "Individual call execution details"
    },
    {
      "name": "Call Transcripts",
      "description": "Transcript management and retrieval"
    },
    {
      "name": "Personas",
      "description": "Persona management for testing"
    },
    {
      "name": "Analytics",
      "description": "Analytics and reporting"
    },
    {
      "name": "Export Simulate",
      "description": "Data export operations"
    },
    {
      "name": "Datasets",
      "description": "Operations related to datasets, including creation, modification, and data management."
    },
    {
      "name": "Eval Groups",
      "description": "Evaluation group management"
    },
    {
      "name": "Eval Templates",
      "description": "Base evaluation template operations"
    },
    {
      "name": "Custom Eval Templates",
      "description": "Custom evaluation template CRUD operations"
    },
    {
      "name": "Eval Playground",
      "description": "Test and run evaluations in playground environment"
    },
    {
      "name": "Eval Logs & Metrics",
      "description": "Evaluation logs, metrics, and execution tracking"
    },
    {
      "name": "Eval Configuration",
      "description": "Evaluation configuration and templates retrieval"
    },
    {
      "name": "API Keys",
      "description": "API key management"
    }
  ],
  "paths": {
    "/health/": {
      "get": {
        "summary": "Health check",
        "description": "Returns 200 status when server is up and running. No authentication required.",
        "operationId": "healthCheck",
        "tags": ["Health"],
        "security": [],
        "responses": {
          "200": {
            "description": "Server is healthy and running",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "description": "Status of the request",
                      "example": true
                    },
                    "result": {
                      "type": "string",
                      "description": "Health status message",
                      "example": "Server is up and running"
                    }
                  },
                  "required": ["status", "result"]
                },
                "examples": {
                  "success": {
                    "summary": "Successful health check",
                    "value": {
                      "status": true,
                      "result": "Server is up and running"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/simulate/agent-definitions/create/": {
      "post": {
        "summary": "Create agent definition",
        "description": "Create a new agent definition and its first version.",
        "operationId": "createAgentDefinition",
        "tags": ["Agent Definitions"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agentType": {
                    "type": "string",
                    "enum": ["voice", "text"],
                    "description": "Type of the agent."
                  },
                  "agentName": {
                    "type": "string",
                    "description": "Name of the agent."
                  },
                  "provider": {
                    "type": "string",
                    "description": "Provider for the agent (e.g., vapi, retell).",
                    "enum": ["vapi", "retell"]
                  },
                  "apiKey": {
                    "type": "string",
                    "format": "uuid",
                    "description": "API key for the agent provider."
                  },
                  "assistantId": {
                    "type": "string",
                    "description": "External identifier for the assistant."
                  },
                  "description": {
                    "type": "string",
                    "description": "Description for the first version of the agent."
                  },
                  "language": {
                    "type": "string",
                    "description": "Language of the agent ([ISO 639-1](https://en.wikipedia.org/wiki/List_of_ISO_639_language_codes) code, for example, `en` for English)."
                  },
                  "knowledgeBase": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true,
                    "description": "ID of the knowledge base to associate with the agent."
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "Country code for the contact number. For example, 1 for USA, 91 for India, etc."
                  },
                  "contactNumber": {
                    "type": "string",
                    "description": "Contact number for the agent including country code. For example, +1xxxxxxxxxx for USA, +91xxxxxxxxxx for India, etc."
                  },
                  "inbound": {
                    "type": "boolean",
                    "description": "Specifies if the agent handles inbound communication."
                  },
                  "commitMessage": {
                    "type": "string",
                    "description": "Commit message for the initial version of the agent."
                  },
                  "observabilityEnabled": {
                    "type": "boolean",
                    "description": "Enable observability for the agent."
                  }
                },
                "required": [
                  "agentName",
                  "provider",
                  "language",
                  "contactNumber"
                ]
              },
              "examples": {
                "example-1": {
                  "summary": "Example payload for creating a voice agent",
                  "value": {
                    "agentType": "voice",
                    "agentName": "test-ag",
                    "provider": "vapi",
                    "apiKey": "<api_key>",
                    "assistantId": "<assistant_id>",
                    "description": "<description>",
                    "language": "en",
                    "knowledgeBase": "",
                    "countryCode": "1",
                    "contactNumber": "<contact_number>",
                    "inbound": true,
                    "commitMessage": "<commit_message>",
                    "observabilityEnabled": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent definition created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Agent definition created successfully"
                    },
                    "agent": {
                      "$ref": "#/components/schemas/AgentDefinition"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data provided.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid data"
                    },
                    "details": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided."
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Failed to create agent definition: [error details]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/simulate/agent-definitions/{agent_id}/versions/create/": {
      "post": {
        "summary": "Create new version of agent",
        "description": "Create a new version of an existing agent definition by providing updated agent properties and a commit message.",
        "operationId": "createAgentVersion",
        "tags": ["Agent Versions"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "description": "A UUID string identifying the agent definition.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_type": {
                    "type": "string",
                    "enum": ["voice", "text"],
                    "description": "Type of the agent."
                  },
                  "agent_name": {
                    "type": "string",
                    "description": "Name of the agent."
                  },
                  "provider": {
                    "type": "string",
                    "description": "Provider for the agent (e.g., vapi, retell)."
                  },
                  "api_key": {
                    "type": "string",
                    "format": "uuid",
                    "description": "API key for the agent provider."
                  },
                  "assistant_id": {
                    "type": "string",
                    "description": "External identifier for the assistant."
                  },
                  "description": {
                    "type": "string",
                    "description": "New description for the agent."
                  },
                  "language": {
                    "type": "string",
                    "description": "Language of the agent (ISO 639-1 code). For example, en for English."
                  },
                  "knowledge_base": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true,
                    "description": "ID of the knowledge base to associate with the agent."
                  },
                  "contact_number": {
                    "type": "string",
                    "description": "Contact number for the agent including country code. For example, +1xxxxxxxxxx for USA, +91xxxxxxxxxx for India, etc."
                  },
                  "inbound": {
                    "type": "boolean",
                    "description": "Specifies if the agent handles inbound communication."
                  },
                  "commit_message": {
                    "type": "string",
                    "description": "Commit message for this new version."
                  },
                  "observability_enabled": {
                    "type": "boolean",
                    "description": "Enable or disable observability for the agent."
                  }
                }
              },
              "examples": {
                "example-1": {
                  "summary": "Example payload for creating a new agent version",
                  "value": {
                    "agent_type": "voice",
                    "agent_name": "test-agiii",
                    "provider": "vapi",
                    "api_key": "<api_key>",
                    "assistant_id": "<assistant_id>",
                    "description": "<description>",
                    "language": "en",
                    "knowledge_base": null,
                    "contact_number": "<contact_number>",
                    "inbound": true,
                    "commit_message": "<commit_message>",
                    "observability_enabled": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent version created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Agent version created successfully"
                    },
                    "version": {
                      "$ref": "#/components/schemas/AgentVersion"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data for agent update."
          },
          "401": {
            "description": "Authentication credentials were not provided."
          },
          "404": {
            "description": "Agent definition not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/simulate/scenarios/create/": {
      "post": {
        "summary": "Generate or create a scenario",
        "description": "Creates a new scenario from a dataset, a script, or a generated/provided graph. The creation is processed in the background.",
        "operationId": "createScenario",
        "tags": ["Scenarios"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the scenario.",
                    "maxLength": 255
                  },
                  "description": {
                    "type": "string",
                    "description": "An optional description for the scenario."
                  },
                  "agent_definition_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The UUID of the agent definition to associate with this scenario. Required when generate_graph is true."
                  },
                  "kind": {
                    "type": "string",
                    "enum": ["dataset", "script", "graph"],
                    "default": "dataset",
                    "description": "The kind of scenario to create."
                  },
                  "dataset_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The UUID of the source dataset. Required if kind is 'dataset'."
                  },
                  "script_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL to the script. Required if kind is 'script'."
                  },
                  "no_of_rows": {
                    "type": "integer",
                    "default": 20,
                    "description": "Number of rows to generate for a 'graph' kind scenario."
                  },
                  "add_persona_automatically": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, automatically adds personas to the scenario."
                  },
                  "graph": {
                    "type": "object",
                    "nullable": true,
                    "description": "The graph structure for a 'graph' kind scenario. Required if 'generate_graph' is false."
                  },
                  "generate_graph": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, generates a graph for the scenario. `agent_definition_id` is required."
                  },
                  "personas": {
                      "type": "array",
                      "items": {
                          "type": "string",
                          "format": "uuid"
                      },
                      "description": "List of persona IDs to use in the scenario."
                  }
                },
                "required": ["name", "agent_definition_id"]
              },
              "examples": {
                "graph-generation": {
                  "summary": "Generate a graph scenario",
                  "value": {
                    "name": "test-scene-1",
                    "description": "",
                    "agent_definition_id": "87a193df-12a6-46e1-860d-d18ddb4a00cf",
                    "kind": "graph",
                    "no_of_rows": 10,
                    "add_persona_automatically": true,
                    "graph": null,
                    "generate_graph": true
                  }
                },
                "from-dataset": {
                  "summary": "Create a scenario from a dataset",
                  "value": {
                    "name": "<name>",
                    "description": "<description>",
                    "agent_definition_id": "<agent_definition_id>",
                    "kind": "dataset",
                    "dataset_id": "<dataset_id>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Scenario creation has been accepted and is processing in the background.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Graph scenario creation started"
                    },
                    "scenario": {
                      "$ref": "#/components/schemas/Scenario"
                    },
                    "status": {
                      "type": "string",
                      "example": "processing"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data provided. Check for missing required fields based on the 'kind' of scenario.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" },
                    "details": { "type": "object" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided."
          },
          "500": {
            "description": "Internal server error occurred during scenario creation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "Failed to create scenario: [error details]" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/simulate/scenarios/{scenario_id}/add-rows/": {
      "post": {
        "summary": "Add rows to a scenario using AI",
        "description": "Initiates an asynchronous task to generate and add a specified number of new rows to a scenario's dataset using AI. A description can be provided to guide the content generation.",
        "operationId": "addScenarioRowsWithAI",
        "tags": ["Scenarios"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "scenario_id",
            "in": "path",
            "required": true,
            "description": "The UUID of the scenario to which rows will be added.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "num_rows": {
                    "type": "integer",
                    "description": "The number of new rows to generate and add. The value must be between 1 and 100.",
                    "minimum": 1
                  },
                  "description": {
                    "type": "string",
                    "description": "An optional description to guide the AI in generating the content for the new rows.",
                    "nullable": true
                  }
                },
                "required": ["num_rows"]
              },
              "examples": {
                "add-rows-with-description": {
                  "summary": "Add 5 rows with guidance",
                  "value": {
                    "num_rows": 5,
                    "description": "Generate conversations where customers are asking for a refund."
                  }
                },
                "add-rows-without-description": {
                  "summary": "Add 3 rows without guidance",
                  "value": {
                    "num_rows": 3
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted. The request to generate rows has been queued and is being processed in the background.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Started generating 5 new rows for scenario"
                    },
                    "scenario_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "dataset_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "num_rows": {
                      "type": "integer",
                      "example": 5
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request is invalid. This can happen if the scenario does not have an associated dataset or if the 'num_rows' is out of the valid range (1-100)."
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were not provided or are invalid."
          },
          "404": {
            "description": "Not Found. The scenario with the specified ID could not be found."
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred while processing the request."
          }
        }
      }
    },
    "/simulate/scenarios/{scenario_id}/edit/": {
      "put": {
        "summary": "Edit a scenario",
        "description": "Updates the properties of a specific scenario, such as its name, description, associated graph, or the simulator agent's prompt.",
        "operationId": "editScenario",
        "tags": ["Scenarios"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "scenario_id",
            "in": "path",
            "required": true,
            "description": "The UUID of the scenario to edit.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "A JSON object containing the fields to update. All fields are optional.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The new name for the scenario.",
                    "maxLength": 255
                  },
                  "description": {
                    "type": "string",
                    "description": "The new description for the scenario.",
                    "nullable": true
                  },
                  "graph": {
                    "type": "object",
                    "description": "The updated graph structure for the scenario. If the scenario does not have a graph, a new one will be created.",
                    "nullable": true
                  },
                  "prompt": {
                    "type": "string",
                    "description": "The new prompt for the simulator agent associated with the scenario. Supports templating variables like {{persona}} and {{situation}}.",
                    "nullable": true
                  }
                }
              },
              "examples": {
                "update-prompt": {
                  "summary": "Update the simulator agent's prompt",
                  "value": {
                    "prompt": "You are a customer with the following characteristics: {{persona}}. Currently, {{situation}}. You will receive a call from an agent named test-agent. Please respond naturally to the agent's questions and provide any necessary information to assist with your appointment schedulings.\n"
                  }
                },
                "update-name-and-description": {
                  "summary": "Update the name and description",
                  "value": {
                    "name": "Updated Scenario Name",
                    "description": "This scenario has been updated with a new description."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scenario updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Scenario updated successfully"
                    },
                    "scenario": {
                      "$ref": "#/components/schemas/Scenario"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The provided data is invalid, for example, an empty name."
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were not provided or are invalid."
          },
          "404": {
            "description": "Not Found. The scenario with the specified ID could not be found."
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred while updating the scenario."
          }
        }
      }
    },
    "/model-hub/develops/{dataset_id}/add_empty_rows/": {
      "post": {
        "summary": "Add empty rows to a scenario",
        "description": "Adds a specified number of empty rows to an existing scenario. This is useful for populating a scenario with placeholders for future data entry.",
        "operationId": "addEmptyRowsToDataset",
        "tags": ["Scenarios"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "description": "The UUID of the dataset to which the empty rows will be added.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "num_rows": {
                    "type": "integer",
                    "description": "The number of empty rows to add to the dataset. Must be a positive integer.",
                    "default": 1,
                    "minimum": 1
                  }
                }
              },
              "examples": {
                "add-single-row": {
                  "summary": "Add a single empty row",
                  "value": {
                    "num_rows": 1
                  }
                },
                "add-multiple-rows": {
                  "summary": "Add ten empty rows",
                  "value": {
                    "num_rows": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully added the specified number of empty rows to the dataset.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "result": {
                      "type": "string",
                      "example": "Successfully added 1 empty row(s)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The provided 'num_rows' is not a valid positive integer."
          },
          "401": {
            "description": "Authentication credentials were not provided or are invalid."
          },
          "404": {
            "description": "Not Found. The dataset with the specified ID does not exist."
          },
          "429": {
            "description": "Too Many Requests. The organization has reached its row limit and cannot add more rows."
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred while trying to add the rows."
          }
        }
      }
    },
    "/simulate/run-tests/create/": {
      "post": {
        "summary": "Create a New Test Run",
        "description": "Creates and configures a new test run, associating it with scenarios, an agent definition, and detailed evaluation configurations.",
        "operationId": "createRunTest",
        "tags": [
          "Run Tests"
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "scenarioIds",
                  "agentDefinitionId"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "A unique name for the test run."
                  },
                  "description": {
                    "type": "string",
                    "description": "An optional description for the test run."
                  },
                  "scenarioIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "A list of scenario UUIDs to be included in this test run."
                  },
                  "agentDefinitionId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The UUID of the agent definition to be tested."
                  },
                  "agentVersion": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The specific UUID of the agent version to be tested. If not provided, the active version will be used.",
                    "nullable": true
                  },
                  "evalConfigIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "A list of existing evaluation configuration UUIDs to associate with this test run."
                  },
                  "evaluationsConfig": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EvaluationConfig"
                    },
                    "description": "A list of new, detailed evaluation configurations to create and associate with this test run."
                  },
                  "datasetRowIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "A list of specific dataset row UUIDs to test against."
                  },
                  "enableToolEvaluation": {
                    "type": "boolean",
                    "description": "Flag to enable tool evaluation for this test run.",
                    "default": false
                  }
                }
              },
              "examples": {
                "create-run-test-with-evals": {
                  "summary": "Example of creating a new test run with multiple evaluations",
                  "value": {
                    "name": "new-run-test",
                    "description": "",
                    "scenarioIds": [
                      "fae7d086-6466-4b40-b21f-13bb7e1d83fe"
                    ],
                    "agentDefinitionId": "87a193df-12a6-46e1-860d-d18ddb4a00cf",
                    "agentVersion": "117efec9-5e9b-4e9e-9272-cf171b6e4af1",
                    "evalConfigIds": [],
                    "evaluationsConfig": [
                      {
                        "name": "task_completion",
                        "templateId": "5419b2e4-f155-4f0f-846f-0a3f848a74be",
                        "templateName": "task_completion",
                        "mapping": {
                          "input": "transcript",
                          "output": "transcript"
                        },
                        "config": {
                          "mapping": {
                            "input": "transcript",
                            "output": "transcript"
                          },
                          "config": {},
                          "reasonColumn": true
                        },
                        "description": "Measures whether the model fulfilled the user's request accurately and completely.",
                        "type": "futureagi_built",
                        "requiredKeys": [
                          "input",
                          "output"
                        ],
                        "tags": [
                          "TEXT",
                          "FUTURE_EVALS",
                          "AUDIO"
                        ],
                        "errorLocalizer": true,
                        "model": "turing_small",
                        "eval_group": "10a3037b-5893-4997-a5d5-9d058aae10d1"
                      },
                      {
                        "name": "is_polite",
                        "templateId": "122a4e83-4c5e-4a17-bcfc-1d29affba6f9",
                        "templateName": "is_polite",
                        "mapping": {
                          "output": "transcript"
                        },
                        "config": {
                          "mapping": {
                            "output": "transcript"
                          },
                          "config": {},
                          "reasonColumn": true
                        },
                        "description": "Ensures that the output maintains a respectful, kind, and non-aggressive tone.",
                        "type": "futureagi_built",
                        "requiredKeys": [
                          "output"
                        ],
                        "tags": [
                          "TEXT",
                          "FUTURE_EVALS",
                          "AUDIO"
                        ],
                        "errorLocalizer": true,
                        "model": "turing_small",
                        "eval_group": "10a3037b-5893-4997-a5d5-9d058aae10d1"
                      }
                    ],
                    "datasetRowIds": [],
                    "enableToolEvaluation": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The test run was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunTest"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request payload is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were not provided."
          },
          "404": {
            "description": "Not Found. The user's organization or other specified resources could not be determined.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/simulate/run-tests/{run_test_id}/execute/": {
      "post": {
        "summary": "Execute a test run",
        "description": "Triggers the execution of a specified test run. The execution can be customized to include or exclude specific scenarios.",
        "operationId": "executeRunTest",
        "tags": ["Run Tests"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "run_test_id",
            "in": "path",
            "required": true,
            "description": "The UUID of the test run to execute.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Configuration for the test execution, specifying which scenarios to run.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "selectAll": {
                    "type": "boolean",
                    "default": false,
                    "description": "Determines how `scenarioIds` is interpreted. If `true`, all scenarios *except* those in `scenarioIds` will be executed. If `false`, *only* the scenarios in `scenarioIds` will be executed. If `scenarioIds` is empty, all scenarios will run regardless of this flag."
                  },
                  "scenarioIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "A list of scenario UUIDs to either include or exclude from the execution, based on the `selectAll` flag."
                  },
                  "simulatorId": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true,
                    "description": "An optional UUID of a specific simulator to use for the test run."
                  }
                }
              },
              "examples": {
                "run-specific-scenarios": {
                  "summary": "Run a specific list of scenarios",
                  "value": {
                    "selectAll": false,
                    "scenarioIds": [
                        "<scenario_id>"
                    ]
                  }
                },
                "run-all-except-specific": {
                  "summary": "Run all scenarios except for a specific list",
                  "value": {
                    "selectAll": true,
                    "scenarioIds": [
                      "<scenario_id>"
                    ]
                  }
                },
                "run-all-scenarios": {
                  "summary": "Run all scenarios associated with the test",
                  "value": {
                    "selectAll": true,
                    "scenarioIds": []
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test execution started successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Test execution started successfully"
                    },
                    "execution_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "run_test_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "example": "PENDING"
                    },
                    "total_scenarios": {
                      "type": "integer"
                    },
                    "total_calls": {
                      "type": "integer"
                    },
                    "scenario_ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The execution failed to start, possibly due to an issue with the test configuration."
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were not provided or are invalid."
          },
          "404": {
            "description": "Not Found. The specified test run or organization could not be found."
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred while trying to execute the test."
          }
        }
      }
    },
    "/model-hub/eval-groups/get_evals_list/": {
      "get": {
        "summary": "Get Evals List",
        "description": "Retrieves a list of evaluations for a given dataset, with options for filtering and ordering.",
        "operationId": "getEvalsList",
        "tags": [
          "Evals List"
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
          "required": true,
            "description": "The UUID of the dataset for which to retrieve the evaluations.",
              "schema": {
                    "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "search_text",
            "in": "query",
            "required": false,
            "description": "Text to search for in the evaluation names.",
            "schema": {
                "type": "string"
              }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of evaluations and recommendations.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "evals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EvaluationItem"
                      }
                    },
                    "eval_recommendations": {
                  "type": "array",
                  "items": {
                        "type": "string"
                      },
                      "description": "A list of recommended evaluation categories."
                    }
                  }
                },
                "example": {
                  "evals": [
                    {
                      "id": "<eval_id>",
                      "name": "<eval_name>",
                      "eval_template_name": "<eval_template_name>",
                      "eval_required_keys": [
                        "<eval_required_key1>",
                        "<eval_required_key2>"
                      ],
                      "eval_template_tags": [
                        "<eval_template_tag1>",
                        "<eval_template_tag2>"
                      ],
                      "description": "<eval_description>",
                      "is_model_required": false,
                      "type": "<eval_type>"
                    }
                  ],
                  "eval_recommendations": [
                    "<eval_recommendation1>",
                    "<eval_recommendation2>"
                  ]
              }
            }
          }
        },
          "400": {
            "description": "Bad Request. Invalid parameters provided, such as a non-existent experiment ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were not provided or are invalid."
          },
          "404": {
            "description": "Not Found. The requested dataset does not exist."
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred while fetching the evaluations list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/model-hub/eval-groups/": {
      "get": {
        "summary": "List Evaluation Groups",
        "description": "Retrieves a paginated list of evaluation groups for the user's workspace, including sample groups.",
        "operationId": "listEvalGroups",
        "tags": ["Eval Groups"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Filter evaluation groups by name (case-insensitive search).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The number of results to return per page.",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "required": false,
            "description": "The page number to retrieve.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of evaluation groups.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EvalGroupListItem"
                      }
                    },
                    "total_count": {
                      "type": "integer",
                      "description": "Total number of evaluation groups matching the criteria."
                    },
                    "total_pages": {
                      "type": "integer",
                      "description": "Total number of pages."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were not provided or are invalid."
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Evaluation Group",
        "description": "Creates a new evaluation group within the user's workspace.",
        "operationId": "createEvalGroup",
        "tags": ["Eval Groups"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "eval_template_ids"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the evaluation group. Must be unique within the workspace."
                  },
                  "description": {
                    "type": "string",
                    "description": "An optional description for the evaluation group."
                  },
                  "eval_template_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "A list of evaluation template UUIDs to include in this group. Must not be empty."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Evaluation group created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalGroup"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request data is invalid or an evaluation group with the same name already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were not provided or are invalid."
          }
        }
      }
    },
    "/model-hub/eval-groups/{id}/": {
      "get": {
        "summary": "Retrieve Evaluation Group",
        "description": "Retrieves detailed information about a specific evaluation group, including its members.",
        "operationId": "retrieveEvalGroup",
        "tags": ["Eval Groups"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The UUID of the evaluation group to retrieve.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Filter members within the group by name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the evaluation group details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalGroupDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The specified evaluation group does not exist for this user.",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Error"
                    }
                }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were not provided or are invalid."
          },
          "404": {
              "description": "Not Found. The specified evaluation group does not exist."
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred.",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Error"
                    }
                }
            }
          }
        }
      },
      "put": {
        "summary": "Update Evaluation Group",
        "description": "Updates an entire evaluation group's details.",
        "operationId": "updateEvalGroup",
        "tags": ["Eval Groups"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The UUID of the evaluation group to update.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvalGroup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evaluation group updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalGroup"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Invalid data or group not found.",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Error"
                    }
                }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were not provided or are invalid."
          }
        }
      },
      "delete": {
        "summary": "Delete Evaluation Group",
        "description": "Soft deletes an evaluation group and removes all its associated evaluation templates.",
        "operationId": "deleteEvalGroup",
        "tags": ["Eval Groups"],
        "security": [
            {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
            }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The UUID of the evaluation group to delete.",
                "schema": {
                    "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Evaluation group deleted successfully."
            },
            "400": {
            "description": "Bad Request. The evaluation group does not exist for this user.",
            "content": {
                "application/json": {
                "schema": {
                        "$ref": "#/components/schemas/Error"
                }
                }
            }
            },
            "401": {
            "description": "Unauthorized. Authentication credentials were not provided or are invalid."
            }
        }
        }
    },
    "/model-hub/eval-groups/edit-eval-list/": {
      "post": {
        "summary": "Edit Evaluation Group Members",
        "description": "Adds or removes evaluation templates from an evaluation group.",
        "operationId": "editEvalList",
        "tags": ["Eval Groups"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["eval_group_id"],
                "properties": {
                  "eval_group_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The UUID of the evaluation group to modify."
                  },
                  "added_template_ids": {
                    "type": "array",
                    "items": {
                    "type": "string",
                      "format": "uuid"
                    },
                    "description": "A list of evaluation template UUIDs to add to the group."
                  },
                  "deleted_template_ids": {
                    "type": "array",
                    "items": {
                    "type": "string",
                      "format": "uuid"
                  },
                    "description": "A list of evaluation template UUIDs to remove from the group."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evaluation group updated successfully."
          },
          "400": {
            "description": "Bad Request. The request body is invalid or the group was not found.",
          "content": {
            "application/json": {
              "schema": {
                        "$ref": "#/components/schemas/Error"
                    }
                }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were not provided or are invalid."
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred.",
          "content": {
            "application/json": {
              "schema": {
                        "$ref": "#/components/schemas/Error"
                    }
                }
            }
          }
        }
      }
    },
    "/model-hub/eval-groups/apply-eval-group/": {
      "post": {
        "summary": "Apply Evaluation Group",
        "description": "Applies an evaluation group to a set of data, creating user evaluation metrics.",
        "operationId": "applyEvalGroup",
        "tags": ["Eval Groups"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "eval_group_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The UUID of the evaluation group to apply."
                  },
                  "filters": {
                    "type": "object",
                    "description": "Filters to apply when selecting data."
                  },
                  "page_id": {
                    "type": "string",
                    "description": "Identifier for the page or context where the group is being applied."
                  },
                  "mapping": {
                    "type": "object",
                    "description": "Mapping configuration for the evaluations."
                  },
                  "deselected_evals": {
                    "type": "array",
                    "items": {
                    "type": "string",
                      "format": "uuid"
                    },
                    "description": "A list of evaluation template UUIDs to exclude from this application."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evaluation group applied successfully.",
            "content": {
              "application/json": {
                "schema": {
                        "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The evaluation group does not exist for this user.",
          "content": {
            "application/json": {
              "schema": {
                        "$ref": "#/components/schemas/Error"
                    }
                }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were not provided or are invalid."
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred.",
            "content": {
              "application/json": {
                "schema": {
                        "$ref": "#/components/schemas/Error"
                    }
                }
            }
          }
        }
      }
    },
    "/model-hub/get-eval-logs-details/": {
      "get": {
        "summary": "Get Evaluation Log Details",
        "description": "Retrieves detailed logs for a specific evaluation template, with support for advanced filtering, sorting, and pagination. This endpoint uses a GET request with a request body to handle complex filtering and sorting configurations.",
        "operationId": "getEvalLogDetails",
        "tags": [
          "Eval Logs & Metrics"
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "eval_template_id",
            "in": "query",
            "required": true,
            "description": "The UUID of the evaluation template to retrieve logs for.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The number of log entries to return per page.",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "current_page_index",
            "in": "query",
            "required": false,
            "description": "The index of the page to retrieve.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "The source of the logs to filter by.",
            "schema": {
              "type": "string",
              "enum": [
                "logs",
                "feedback",
                "eval_playground"
              ],
              "default": "logs"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "A search term to filter log data across all columns.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Optional filtering and sorting configurations.",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/FilterItem"
                    },
                    "description": "A list of filters to apply to the log data."
                  },
                  "sort": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SortItem"
                    },
                    "description": "A list of sorting configurations to apply."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the evaluation log details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request is missing the 'eval_template_id' or contains invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were not provided or are invalid."
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred while fetching the log details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/model-hub/prompt-labels/get-by-name/": {
      "get": {
        "summary": "Get prompt version by name",
        "description": "Fetch a prompt version by template name and either an explicit version (e.g. `v1`) or a label name (e.g. `Production`). When both `version` and `label` are provided, `version` takes precedence. Returns the full prompt template data along with the resolved version's configuration, variables, output schema, and assigned labels.",
        "operationId": "getPromptVersionByName",
        "tags": ["Prompt Workbench"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "The exact name of the prompt template.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "description": "The version name to fetch (e.g. `v1`, `v2`). Takes precedence over `label` if both are provided.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label",
            "in": "query",
            "required": false,
            "description": "The label name to resolve (e.g. `Production`, `Staging`, `Development`, or a custom label). Used only when `version` is not provided.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the prompt version.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "The prompt template ID."
                        },
                        "name": {
                          "type": "string",
                          "description": "The prompt template name."
                        },
                        "description": {
                          "type": "string",
                          "nullable": true,
                          "description": "The prompt template description."
                        },
                        "variable_names": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "List of variable names used in the prompt (from the resolved version)."
                        },
                        "organization": {
                          "type": "string",
                          "format": "uuid",
                          "description": "The organization ID."
                        },
                        "prompt_folder": {
                          "type": "string",
                          "format": "uuid",
                          "nullable": true,
                          "description": "The folder ID containing this template."
                        },
                        "placeholders": {
                          "type": "object",
                          "nullable": true,
                          "description": "Placeholder configuration for the template."
                        },
                        "created_by": {
                          "type": "string",
                          "nullable": true,
                          "description": "The user who created the template."
                        },
                        "prompt_config": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "messages": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "role": {
                                      "type": "string",
                                      "enum": ["system", "user", "assistant"],
                                      "description": "The role of the message."
                                    },
                                    "content": {
                                      "type": "string",
                                      "description": "The message content, may contain {{variable}} placeholders."
                                    }
                                  }
                                },
                                "description": "The list of messages in the prompt template."
                              },
                              "configuration": {
                                "type": "object",
                                "properties": {
                                  "model": {
                                    "type": "string",
                                    "description": "The LLM model identifier (e.g. `gpt-4o`, `claude-3-opus`)."
                                  },
                                  "temperature": {
                                    "type": "number",
                                    "description": "Sampling temperature."
                                  },
                                  "max_tokens": {
                                    "type": "integer",
                                    "description": "Maximum tokens in the response."
                                  },
                                  "top_p": {
                                    "type": "number",
                                    "description": "Top-p (nucleus) sampling parameter."
                                  },
                                  "frequency_penalty": {
                                    "type": "number",
                                    "description": "Frequency penalty parameter."
                                  },
                                  "presence_penalty": {
                                    "type": "number",
                                    "description": "Presence penalty parameter."
                                  },
                                  "tools": {
                                    "type": "array",
                                    "items": {
                                      "type": "object"
                                    },
                                    "description": "Tool definitions, if any."
                                  },
                                  "tool_choice": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Tool choice setting."
                                  }
                                },
                                "description": "Model configuration parameters."
                              }
                            }
                          },
                          "description": "The prompt configuration snapshot for the resolved version."
                        },
                        "version": {
                          "type": "string",
                          "description": "The resolved version name (e.g. `v1`).",
                          "example": "v1"
                        },
                        "output": {
                          "type": "object",
                          "nullable": true,
                          "description": "The output schema configuration, if any."
                        },
                        "is_draft": {
                          "type": "boolean",
                          "description": "Whether the resolved version is a draft."
                        },
                        "metadata": {
                          "type": "object",
                          "nullable": true,
                          "description": "Additional metadata for the version."
                        },
                        "labels": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "description": "The label ID."
                              },
                              "name": {
                                "type": "string",
                                "description": "The label name (e.g. `Production`, `Staging`)."
                              },
                              "type": {
                                "type": "string",
                                "enum": ["system", "custom"],
                                "description": "Whether the label is a system default or custom."
                              }
                            }
                          },
                          "description": "Labels assigned to the resolved version."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "by-version": {
                    "summary": "Fetch by explicit version",
                    "value": {
                      "status": true,
                      "result": {
                        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "name": "customer-support-agent",
                        "description": "Customer support prompt template",
                        "variable_names": ["company_name", "order_id"],
                        "organization": "11111111-2222-3333-4444-555555555555",
                        "prompt_folder": null,
                        "placeholders": null,
                        "created_by": "user@example.com",
                        "prompt_config": [
                          {
                            "messages": [
                              {
                                "role": "system",
                                "content": "You are a customer support agent for {{company_name}}."
                              }
                            ],
                            "configuration": {
                              "model": "gpt-4o",
                              "temperature": 0.7,
                              "max_tokens": 1000,
                              "top_p": 1.0,
                              "frequency_penalty": 0.0,
                              "presence_penalty": 0.0
                            }
                          }
                        ],
                        "version": "v1",
                        "output": null,
                        "is_draft": false,
                        "metadata": null,
                        "labels": [
                          {
                            "id": "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
                            "name": "Production",
                            "type": "system"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Missing required parameters, or the specified version/label was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "No version 'v99' found for this template"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were not provided or are invalid."
          },
          "404": {
            "description": "Not Found. No prompt template with the given name exists for this organization."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "API Key for authentication. Click [here](https://app.futureagi.com/dashboard/keys) to access API Key"
      },
      "SecretKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Secret-Key",
        "description": "Secret Key for authentication. Click [here](https://app.futureagi.com/dashboard/keys) to access Secret Key"
      }
    },
    "schemas": {
      "Scenario": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "scenario_type": {
            "type": "string",
            "enum": [
              "DATASET",
              "SCRIPT",
              "GRAPH"
            ]
          },
          "organization": {
            "type": "string",
            "format": "uuid"
          },
          "dataset": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "dataset_rows": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ScenarioDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "scenario_type": {
            "type": "string"
          },
          "organization": {
            "type": "string",
            "format": "uuid"
          },
          "dataset": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "dataset_rows": {
            "type": "integer"
          },
          "graph": {
            "type": "object"
          },
          "prompts": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AgentDefinition": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "agent_name": {
            "type": "string"
          },
          "agent_type": {
            "type": "string"
          },
          "contact_number": {
            "type": "string"
          },
          "inbound": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "assistant_id": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "websocket_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "websocket_headers": {
            "type": "object",
            "nullable": true
          },
          "knowledge_base": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "api_key": {
            "type": "string"
          },
          "webhook_secret": {
            "type": "string",
            "nullable": true
          },
          "observability_provider": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AgentVersion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "version_number": {
            "type": "integer"
          },
          "version_name": {
            "type": "string",
            "nullable": true
          },
          "version_name_display": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "status_display": {
            "type": "string"
          },
          "score": {
            "type": "number",
            "nullable": true
          },
          "test_count": {
            "type": "integer"
          },
          "pass_rate": {
            "type": "number",
            "nullable": true
          },
          "description": {
            "type": "string"
          },
          "commit_message": {
            "type": "string"
          },
          "release_notes": {
            "type": "string",
            "nullable": true
          },
          "agent_definition": {
            "type": "string",
            "format": "uuid"
          },
          "organization": {
            "type": "string",
            "format": "uuid"
          },
          "configuration_snapshot": {
            "type": "object"
          },
          "is_active": {
            "type": "boolean"
          },
          "is_latest": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "EvalGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "is_sample": {
            "type": "boolean",
            "readOnly": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "EvalGroupListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "required_keys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "evals_count": {
            "type": "integer"
          },
          "is_sample": {
            "type": "boolean"
          }
        }
      },
      "EvalGroupDetail": {
        "type": "object",
        "properties": {
          "eval_group": {
            "$ref": "#/components/schemas/EvalGroup"
          },
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EvalGroupMember"
            }
          },
          "required_keys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "models": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of models that are common across all evaluation templates in the group."
          }
        }
      },
      "EvalGroupMember": {
        "type": "object",
        "properties": {
          "eval_template_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "added_on": {
            "type": "string",
            "format": "date-time"
          },
          "added_by": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "required_keys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "optional_keys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "models": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "EvalTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "maxLength": 50
          },
          "owner": {
            "type": "string",
            "enum": ["system", "user", "organization"]
          },
          "config": {
            "type": "object"
          },
          "eval_tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomEvalTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "template_type": {
            "type": "string",
            "enum": ["Llm", "Futureagi", "Function"]
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "criteria": {
            "type": "string"
          },
          "output_type": {
            "type": "string",
            "enum": ["Pass/Fail", "score", "choices"]
          },
          "required_keys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "config": {
            "type": "object"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EvalLog": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "log_id": {
            "type": "string",
            "format": "uuid"
          },
          "template_id": {
            "type": "string",
            "format": "uuid"
          },
          "dataset_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "source": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EvalLogDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "log_id": {
            "type": "string",
            "format": "uuid"
          },
          "template_id": {
            "type": "string",
            "format": "uuid"
          },
          "source": {
            "type": "string"
          },
          "required_keys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "values": {
            "type": "object",
            "description": "Input mapping values"
          },
          "output": {
            "type": "object",
            "description": "Evaluation output"
          },
          "error_details": {
            "type": "object",
            "nullable": true,
            "description": "Error localization details if available"
          },
          "input_data_types": {
            "type": "object"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RunTest": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "status": { "type": "string" },
          "scenarios": { "type": "array", "items": { "type": "object" } },
          "agent_definition": { "type": "string", "format": "uuid" },
          "agent_version": { "type": "string", "format": "uuid" },
          "evaluations": { "type": "array", "items": { "type": "object" } },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "EvaluationConfig": {
        "type": "object",
        "required": ["name", "templateId", "mapping"],
        "properties": {
          "name": {
            "type": "string",
            "description": "A user-defined name for this evaluation instance."
          },
          "templateId": {
            "type": "string",
            "format": "uuid",
            "description": "The UUID of the base evaluation template."
          },
          "templateName": {
            "type": "string",
            "description": "The name of the base evaluation template."
          },
          "mapping": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Maps the required keys of the evaluation to the available data columns (e.g., 'transcript')."
          },
          "config": {
            "type": "object",
            "properties": {
              "mapping": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "description": "Redundant mapping object inside the main config."
              },
              "config": {
                "type": "object",
                "description": "Additional nested configuration, often empty."
              },
              "reasonColumn": {
                "type": "boolean",
                "description": "If true, a column for the evaluation reasoning should be included."
              }
            }
          },
          "description": {
            "type": "string",
            "description": "Description of the evaluation's purpose."
          },
          "type": {
            "type": "string",
            "description": "The type of the evaluation.",
            "enum": [
              "futureagi_built",
              "user_built",
              "custom"
            ]
          },
          "requiredKeys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of input keys that the evaluation requires."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "TEXT",
                "AUDIO",
                "SAFETY",
                "RAG",
                "HALLUCINATION",
                "FUNCTION",
                "LLMS",
                "CUSTOM",
                "FUTURE_EVALS"
              ]
            },
            "description": "Tags for categorizing the evaluation."
          },
          "errorLocalizer": {
            "type": "boolean",
[...]
