{
  "openapi": "3.0.0",
  "info": {
    "title": "FutureAGI Unified API",
    "version": "1.0.0",
    "description": "Complete API documentation for FutureAGI platform - Simulate module (scenario management, agent definitions, test executions, call analytics) and Model Hub Evaluations API (evaluation templates, playgrounds, metrics, and execution tracking)",
    "contact": {
      "email": "support@futureagi.com"
    }
  },
  "servers": [
    {
      "url": "https://api.futureagi.com",
      "description": "Production API"
    }
  ],
  "tags": [
    {
        "name": "Health",
        "description": "Health check operations for monitoring server status"
    },
    {
        "name": "Authentication",
        "description": "User authentication and token management"
    },
    {
      "name": "Scenarios",
      "description": "Test scenario management and execution"
    },
    {
      "name": "Agent Definitions",
      "description": "Agent definition CRUD operations"
    },
    {
      "name": "Agent Versions",
      "description": "Agent version control and management"
    },
    {
      "name": "Simulator Agents",
      "description": "Simulator agent operations"
    },
    {
      "name": "Run Tests",
      "description": "Test execution management"
    },
    {
      "name": "Test Executions",
      "description": "Test execution tracking and analytics"
    },
    {
      "name": "Call Executions",
      "description": "Individual call execution details"
    },
    {
      "name": "Call Transcripts",
      "description": "Transcript management and retrieval"
    },
    {
      "name": "Personas",
      "description": "Persona management for testing"
    },
    {
      "name": "Analytics",
      "description": "Analytics and reporting"
    },
    {
      "name": "Export Simulate",
      "description": "Data export operations"
    },
    {
      "name": "Datasets",
      "description": "Operations related to datasets, including creation, modification, and data management."
    },
    {
      "name": "Eval Groups",
      "description": "Evaluation group management"
    },
    {
      "name": "Eval Templates",
      "description": "Base evaluation template operations"
    },
    {
      "name": "Custom Eval Templates",
      "description": "Custom evaluation template CRUD operations"
    },
    {
      "name": "Eval Playground",
      "description": "Test and run evaluations in playground environment"
    },
    {
      "name": "Eval Logs & Metrics",
      "description": "Evaluation logs, metrics, and execution tracking"
    },
    {
      "name": "Eval Configuration",
      "description": "Evaluation configuration and templates retrieval"
    },
    {
      "name": "API Keys",
      "description": "API key management"
    }
  ],
  "paths": {
    "/health/": {
      "get": {
        "summary": "Health check",
        "description": "Returns 200 status when server is up and running. No authentication required.",
        "operationId": "healthCheck",
        "tags": ["Health"],
        "security": [],
        "responses": {
          "200": {
            "description": "Server is healthy and running",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "description": "Status of the request",
                      "example": true
                    },
                    "result": {
                      "type": "string",
                      "description": "Health status message",
                      "example": "Server is up and running"
                    }
                  },
                  "required": ["status", "result"]
                },
                "examples": {
                  "success": {
                    "summary": "Successful health check",
                    "value": {
                      "status": true,
                      "result": "Server is up and running"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/simulate/agent-definitions/create/": {
      "post": {
        "summary": "Create agent definition",
        "description": "Create a new agent definition and its first version.",
        "operationId": "createAgentDefinition",
        "tags": ["Agent Definitions"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agentType": {
                    "type": "string",
                    "enum": ["voice", "text"],
                    "description": "Type of the agent."
                  },
                  "agentName": {
                    "type": "string",
                    "description": "Name of the agent."
                  },
                  "provider": {
                    "type": "string",
                    "description": "Provider for the agent (e.g., vapi, retell).",
                    "enum": ["vapi", "retell"]
                  },
                  "apiKey": {
                    "type": "string",
                    "format": "uuid",
                    "description": "API key for the agent provider."
                  },
                  "assistantId": {
                    "type": "string",
                    "description": "External identifier for the assistant."
                  },
                  "description": {
                    "type": "string",
                    "description": "Description for the first version of the agent."
                  },
                  "language": {
                    "type": "string",
                    "description": "Language of the agent (ISO 639-1 code)."
                  },
                  "knowledgeBase": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true,
                    "description": "ID of the knowledge base to associate with the agent."
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "Country code for the contact number. For example, 1 for USA, 91 for India, etc."
                  },
                  "contactNumber": {
                    "type": "string",
                    "description": "Contact number for the agent including country code. For example, +1xxxxxxxxxx for USA, +91xxxxxxxxxx for India, etc."
                  },
                  "inbound": {
                    "type": "boolean",
                    "description": "Specifies if the agent handles inbound communication."
                  },
                  "commitMessage": {
                    "type": "string",
                    "description": "Commit message for the initial version of the agent."
                  },
                  "observabilityEnabled": {
                    "type": "boolean",
                    "description": "Enable observability for the agent."
                  }
                },
                "required": [
                  "agentName",
                  "provider",
                  "apiKey",
                  "assistantId",
                  "language",
                  "contactNumber"
                ]
              },
              "examples": {
                "example-1": {
                  "summary": "Example payload for creating a voice agent",
                  "value": {
                    "agentType": "voice",
                    "agentName": "test-ag",
                    "provider": "vapi",
                    "apiKey": "<api_key>",
                    "assistantId": "<assistant_id>",
                    "description": "<description>",
                    "language": "en",
                    "knowledgeBase": "",
                    "countryCode": "1",
                    "contactNumber": "<contact_number>",
                    "inbound": true,
                    "commitMessage": "<commit_message>",
                    "observabilityEnabled": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent definition created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Agent definition created successfully"
                    },
                    "agent": {
                      "$ref": "#/components/schemas/AgentDefinition"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data provided.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid data"
                    },
                    "details": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided."
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Failed to create agent definition: [error details]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/simulate/agent-definitions/{agent_id}/versions/create/": {
      "post": {
        "summary": "Create new version of agent",
        "description": "Create a new version of an existing agent definition by providing updated agent properties and a commit message.",
        "operationId": "createAgentVersion",
        "tags": ["Agent Versions"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "description": "A UUID string identifying the agent definition.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_type": {
                    "type": "string",
                    "enum": ["voice", "text"],
                    "description": "Type of the agent."
                  },
                  "agent_name": {
                    "type": "string",
                    "description": "Name of the agent."
                  },
                  "provider": {
                    "type": "string",
                    "description": "Provider for the agent (e.g., vapi, retell)."
                  },
                  "api_key": {
                    "type": "string",
                    "format": "uuid",
                    "description": "API key for the agent provider."
                  },
                  "assistant_id": {
                    "type": "string",
                    "description": "External identifier for the assistant."
                  },
                  "description": {
                    "type": "string",
                    "description": "New description for the agent."
                  },
                  "language": {
                    "type": "string",
                    "description": "Language of the agent (ISO 639-1 code). For example, en for English."
                  },
                  "knowledge_base": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true,
                    "description": "ID of the knowledge base to associate with the agent."
                  },
                  "contact_number": {
                    "type": "string",
                    "description": "Contact number for the agent including country code. For example, +1xxxxxxxxxx for USA, +91xxxxxxxxxx for India, etc."
                  },
                  "inbound": {
                    "type": "boolean",
                    "description": "Specifies if the agent handles inbound communication."
                  },
                  "commit_message": {
                    "type": "string",
                    "description": "Commit message for this new version."
                  },
                  "observability_enabled": {
                    "type": "boolean",
                    "description": "Enable or disable observability for the agent."
                  }
                }
              },
              "examples": {
                "example-1": {
                  "summary": "Example payload for creating a new agent version",
                  "value": {
                    "agent_type": "voice",
                    "agent_name": "test-agiii",
                    "provider": "vapi",
                    "api_key": "<api_key>",
                    "assistant_id": "<assistant_id>",
                    "description": "<description>",
                    "language": "en",
                    "knowledge_base": null,
                    "contact_number": "<contact_number>",
                    "inbound": true,
                    "commit_message": "<commit_message>",
                    "observability_enabled": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent version created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Agent version created successfully"
                    },
                    "version": {
                      "$ref": "#/components/schemas/AgentVersion"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data for agent update."
          },
          "401": {
            "description": "Authentication credentials were not provided."
          },
          "404": {
            "description": "Agent definition not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/simulate/scenarios/create/": {
      "post": {
        "summary": "Generate or create a scenario",
        "description": "Creates a new scenario from a dataset, a script, or a generated/provided graph. The creation is processed in the background.",
        "operationId": "createScenario",
        "tags": ["Scenarios"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the scenario.",
                    "maxLength": 255
                  },
                  "description": {
                    "type": "string",
                    "description": "An optional description for the scenario."
                  },
                  "agent_definition_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The UUID of the agent definition to associate with this scenario. Required when generate_graph is true."
                  },
                  "kind": {
                    "type": "string",
                    "enum": ["dataset", "script", "graph"],
                    "default": "dataset",
                    "description": "The kind of scenario to create."
                  },
                  "dataset_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The UUID of the source dataset. Required if kind is 'dataset'."
                  },
                  "script_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL to the script. Required if kind is 'script'."
                  },
                  "no_of_rows": {
                    "type": "integer",
                    "default": 20,
                    "description": "Number of rows to generate for a 'graph' kind scenario."
                  },
                  "add_persona_automatically": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, automatically adds personas to the scenario."
                  },
                  "graph": {
                    "type": "object",
                    "nullable": true,
                    "description": "The graph structure for a 'graph' kind scenario. Required if 'generate_graph' is false."
                  },
                  "generate_graph": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, generates a graph for the scenario. `agent_definition_id` is required."
                  },
                  "personas": {
                      "type": "array",
                      "items": {
                          "type": "string",
                          "format": "uuid"
                      },
                      "description": "List of persona IDs to use in the scenario."
                  }
                },
                "required": ["name", "agent_definition_id"]
              },
              "examples": {
                "graph-generation": {
                  "summary": "Generate a graph scenario",
                  "value": {
                    "name": "test-scene-1",
                    "description": "",
                    "agent_definition_id": "87a193df-12a6-46e1-860d-d18ddb4a00cf",
                    "kind": "graph",
                    "no_of_rows": 10,
                    "add_persona_automatically": true,
                    "graph": null,
                    "generate_graph": true
                  }
                },
                "from-dataset": {
                  "summary": "Create a scenario from a dataset",
                  "value": {
                    "name": "<name>",
                    "description": "<description>",
                    "agent_definition_id": "<agent_definition_id>",
                    "kind": "dataset",
                    "dataset_id": "<dataset_id>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Scenario creation has been accepted and is processing in the background.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Graph scenario creation started"
                    },
                    "scenario": {
                      "$ref": "#/components/schemas/Scenario"
                    },
                    "status": {
                      "type": "string",
                      "example": "processing"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data provided. Check for missing required fields based on the 'kind' of scenario.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" },
                    "details": { "type": "object" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided."
          },
          "500": {
            "description": "Internal server error occurred during scenario creation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "Failed to create scenario: [error details]" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/simulate/scenarios/{scenario_id}/add-rows/": {
      "post": {
        "summary": "Add rows to a scenario using AI",
        "description": "Initiates an asynchronous task to generate and add a specified number of new rows to a scenario's dataset using AI. A description can be provided to guide the content generation.",
        "operationId": "addScenarioRowsWithAI",
        "tags": ["Scenarios"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "scenario_id",
            "in": "path",
            "required": true,
            "description": "The UUID of the scenario to which rows will be added.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "num_rows": {
                    "type": "integer",
                    "description": "The number of new rows to generate and add. The value must be between 1 and 100.",
                    "minimum": 1
                  },
                  "description": {
                    "type": "string",
                    "description": "An optional description to guide the AI in generating the content for the new rows.",
                    "nullable": true
                  }
                },
                "required": ["num_rows"]
              },
              "examples": {
                "add-rows-with-description": {
                  "summary": "Add 5 rows with guidance",
                  "value": {
                    "num_rows": 5,
                    "description": "Generate conversations where customers are asking for a refund."
                  }
                },
                "add-rows-without-description": {
                  "summary": "Add 3 rows without guidance",
                  "value": {
                    "num_rows": 3
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted. The request to generate rows has been queued and is being processed in the background.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Started generating 5 new rows for scenario"
                    },
                    "scenario_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "dataset_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "num_rows": {
                      "type": "integer",
                      "example": 5
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request is invalid. This can happen if the scenario does not have an associated dataset or if the 'num_rows' is out of the valid range (1-100)."
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were not provided or are invalid."
          },
          "404": {
            "description": "Not Found. The scenario with the specified ID could not be found."
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred while processing the request."
          }
        }
      }
    },
    "/simulate/scenarios/{scenario_id}/edit/": {
      "put": {
        "summary": "Edit a scenario",
        "description": "Updates the properties of a specific scenario, such as its name, description, associated graph, or the simulator agent's prompt.",
        "operationId": "editScenario",
        "tags": ["Scenarios"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "scenario_id",
            "in": "path",
            "required": true,
            "description": "The UUID of the scenario to edit.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "A JSON object containing the fields to update. All fields are optional.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The new name for the scenario.",
                    "maxLength": 255
                  },
                  "description": {
                    "type": "string",
                    "description": "The new description for the scenario.",
                    "nullable": true
                  },
                  "graph": {
                    "type": "object",
                    "description": "The updated graph structure for the scenario. If the scenario does not have a graph, a new one will be created.",
                    "nullable": true
                  },
                  "prompt": {
                    "type": "string",
                    "description": "The new prompt for the simulator agent associated with the scenario. Supports templating variables like {{persona}} and {{situation}}.",
                    "nullable": true
                  }
                }
              },
              "examples": {
                "update-prompt": {
                  "summary": "Update the simulator agent's prompt",
                  "value": {
                    "prompt": "You are a customer with the following characteristics: {{persona}}. Currently, {{situation}}. You will receive a call from an agent named test-agent. Please respond naturally to the agent's questions and provide any necessary information to assist with your appointment schedulings.\n"
                  }
                },
                "update-name-and-description": {
                  "summary": "Update the name and description",
                  "value": {
                    "name": "Updated Scenario Name",
                    "description": "This scenario has been updated with a new description."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scenario updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Scenario updated successfully"
                    },
                    "scenario": {
                      "$ref": "#/components/schemas/Scenario"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The provided data is invalid, for example, an empty name."
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were not provided or are invalid."
          },
          "404": {
            "description": "Not Found. The scenario with the specified ID could not be found."
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred while updating the scenario."
          }
        }
      }
    },
    "/model-hub/develops/{dataset_id}/add_empty_rows/": {
      "post": {
        "summary": "Add empty rows to a scenario",
        "description": "Adds a specified number of empty rows to an existing scenario. This is useful for populating a scenario with placeholders for future data entry.",
        "operationId": "addEmptyRowsToDataset",
        "tags": ["Scenarios"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "description": "The UUID of the dataset to which the empty rows will be added.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "num_rows": {
                    "type": "integer",
                    "description": "The number of empty rows to add to the dataset. Must be a positive integer.",
                    "default": 1,
                    "minimum": 1
                  }
                }
              },
              "examples": {
                "add-single-row": {
                  "summary": "Add a single empty row",
                  "value": {
                    "num_rows": 1
                  }
                },
                "add-multiple-rows": {
                  "summary": "Add ten empty rows",
                  "value": {
                    "num_rows": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully added the specified number of empty rows to the dataset.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "result": {
                      "type": "string",
                      "example": "Successfully added 1 empty row(s)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The provided 'num_rows' is not a valid positive integer."
          },
          "401": {
            "description": "Authentication credentials were not provided or are invalid."
          },
          "404": {
            "description": "Not Found. The dataset with the specified ID does not exist."
          },
          "429": {
            "description": "Too Many Requests. The organization has reached its row limit and cannot add more rows."
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred while trying to add the rows."
          }
        }
      }
    },
    "/model-hub/eval-groups/": {
      "get": {
        "summary": "List evaluation groups",
        "description": "Retrieve paginated list of evaluation groups for the organization",
        "operationId": "listEvalGroups",
        "tags": ["Eval Groups"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search by group name"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of evaluation groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EvalGroup"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided"
          }
        }
      },
      "post": {
        "summary": "Create evaluation group",
        "description": "Create a new evaluation group",
        "operationId": "createEvalGroup",
        "tags": ["Eval Groups"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Name of the evaluation group",
                    "example": "Quality Assurance"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the evaluation group"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Evaluation group created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalGroup"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data"
          },
          "401": {
            "description": "Authentication credentials were not provided"
          }
        }
      }
    },
    "/model-hub/eval-groups/{id}/": {
      "get": {
        "summary": "Get evaluation group detail",
        "description": "Retrieve detailed information about a specific evaluation group",
        "operationId": "getEvalGroup",
        "tags": ["Eval Groups"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Evaluation group ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Evaluation group details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalGroup"
                }
              }
            }
          },
          "404": {
            "description": "Evaluation group not found"
          },
          "401": {
            "description": "Authentication credentials were not provided"
          }
        }
      },
      "put": {
        "summary": "Update evaluation group",
        "description": "Update an existing evaluation group",
        "operationId": "updateEvalGroup",
        "tags": ["Eval Groups"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evaluation group updated successfully"
          },
          "400": {
            "description": "Invalid request data"
          },
          "401": {
            "description": "Authentication credentials were not provided"
          },
          "404": {
            "description": "Evaluation group not found"
          }
        }
      },
      "delete": {
        "summary": "Delete evaluation group",
        "description": "Delete an evaluation group",
        "operationId": "deleteEvalGroup",
        "tags": ["Eval Groups"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Evaluation group deleted successfully"
          },
          "401": {
            "description": "Authentication credentials were not provided"
          },
          "404": {
            "description": "Evaluation group not found"
          }
        }
      }
    },
    "/model-hub/eval-template/create/": {
      "post": {
        "summary": "Create base evaluation template",
        "description": "Create a new base evaluation template",
        "operationId": "createEvalTemplate",
        "tags": ["Eval Templates"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "config"],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "Name of the evaluation template",
                    "example": "Relevance Check"
                  },
                  "owner": {
                    "type": "string",
                    "enum": ["system", "user", "organization"],
                    "default": "system",
                    "description": "Owner type of the template"
                  },
                  "config": {
                    "type": "object",
                    "description": "Configuration object for the template",
                    "example": {
                      "criteria": "Check if response is relevant",
                      "model": "gpt-4"
                    }
                  },
                  "eval_tags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 100
                    },
                    "description": "Tags associated with the evaluation",
                    "example": ["qa", "relevance"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Evaluation template created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalTemplate"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data"
          },
          "401": {
            "description": "Authentication credentials were not provided"
          }
        }
      }
    },
    "/model-hub/eval-user-template/create/": {
      "post": {
        "summary": "Create user evaluation template",
        "description": "Create a user-specific evaluation template",
        "operationId": "createUserEvalTemplate",
        "tags": ["Eval Templates"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "template_id", "dataset_id", "config"],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "Name for the user template"
                  },
                  "template_id": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Base template ID to extend"
                  },
                  "dataset_id": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Dataset ID to apply template to"
                  },
                  "config": {
                    "type": "object",
                    "description": "User-specific configuration"
                  },
                  "model": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "LLM model to use"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User evaluation template created successfully"
          },
          "400": {
            "description": "Invalid request data"
          },
          "401": {
            "description": "Authentication credentials were not provided"
          }
        }
      }
    },
    "/model-hub/create_custom_evals/": {
        "post": {
        "summary": "Create custom evaluation template",
        "description": "Create a custom evaluation template with LLM, Function, or Futureagi type",
        "operationId": "createCustomEvalTemplate",
        "tags": ["Custom Eval Templates"],
        "security": [
            {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
            }
        ],
        "requestBody": {
            "required": true,
            "content": {
            "application/json": {
                "schema": {
                "type": "object",
                "required": ["name", "templateType", "outputType", "requiredKeys"],
                "properties": {
                    "evalTypeId": {
                    "type": "string",
                    "description": "Evaluation type ID (optional)",
                    "example": ""
                    },
                    "templateType": {
                    "type": "string",
                    "enum": ["Llm", "Futureagi", "Function"],
                    "description": "Type of custom evaluation template",
                    "example": "Futureagi"
                    },
                    "templateId": {
                    "type": "string",
                    "description": "Base template ID to extend (optional)",
                    "example": ""
                    },
                    "name": {
                    "type": "string",
                    "maxLength": 255,
                    "pattern": "^[a-z0-9_-]+$",
                    "description": "Name of the custom template (lowercase, alphanumeric, hyphens, underscores only). Must be unique per organization.",
                    "example": "testing-custom"
                    },
                    "description": {
                    "type": "string",
                    "description": "Description of the custom template",
                    "example": "sample desc"
                    },
                    "criteria": {
                    "type": "string",
                    "maxLength": 100000,
                    "description": "Evaluation criteria with support for template variables like {{variable_1}}",
                    "example": "example {{variable_1}}"
                    },
                    "outputType": {
                    "type": "string",
                    "enum": ["Pass/Fail", "score", "choices"],
                    "description": "Type of evaluation output",
                    "example": "Pass/Fail"
                    },
                    "requiredKeys": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "description": "Required input keys for the evaluation",
                    "example": ["input1"]
                    },
                    "tags": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "description": "Tags for categorization",
                    "example": []
                    },
                    "choices": {
                    "type": "object",
                    "description": "Choices dictionary when outputType is 'choices'",
                    "example": {}
                    },
                    "multiChoice": {
                    "type": "boolean",
                    "default": false,
                    "description": "Allow multiple choice selection",
                    "example": false
                    },
                    "config": {
                    "type": "object",
                    "required": ["model"],
                    "properties": {
                        "model": {
                        "type": "string",
                        "description": "LLM model to use",
                        "example": "turing_large"
                        },
                        "reverseOutput": {
                        "type": "boolean",
                        "description": "Reverse the output logic",
                        "example": false
                        },
                        "proxyAgi": {
                        "type": "boolean",
                        "description": "Use proxy AGI for evaluation (camelCase)"
                        },
                        "visibleUi": {
                        "type": "boolean",
                        "description": "Show in UI (camelCase)"
                        }
                    },
                    "description": "Template configuration with model settings"
                    }
                }
                },
                "examples": {
                "futureagi_template": {
                    "summary": "Create Futureagi evaluation template",
                    "value": {
                    "evalTypeId": "",
                    "config": {
                        "model": "turing_large",
                        "reverseOutput": false
                    },
                    "templateType": "Futureagi",
                    "templateId": "",
                    "name": "testing-custom",
                    "criteria": "example {{variable_1}}",
                    "outputType": "Pass/Fail",
                    "choices": {},
                    "multiChoice": false,
                    "tags": [],
                    "requiredKeys": ["input1"],
                    "description": "sample desc"
                    }
                },
                "score_template": {
                    "summary": "Create score-based evaluation template",
                    "value": {
                    "templateType": "Llm",
                    "name": "score-eval",
                    "criteria": "Rate the response quality from 1-10",
                    "outputType": "score",
                    "requiredKeys": ["response", "expected"],
                    "description": "Scores responses on quality",
                    "tags": ["scoring", "quality"],
                    "config": {
                        "model": "gpt-4",
                        "reverseOutput": false
                    }
                    }
                }
                }
            }
            }
        },
        "responses": {
            "201": {
            "description": "Custom evaluation template created successfully",
            "content": {
                "application/json": {
                "schema": {
                    "type": "object",
                    "properties": {
                    "status": {
                        "type": "boolean",
                        "example": true
                    },
                    "result": {
                        "type": "object",
                        "properties": {
                        "eval_template_id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "ID of the created evaluation template"
                        }
                        }
                    }
                    }
                },
                "examples": {
                    "success": {
                    "summary": "Successful creation",
                    "value": {
                        "status": true,
                        "result": {
                        "eval_template_id": "550e8400-e29b-41d4-a716-446655440000"
                        }
                    }
                    }
                }
                }
            }
            },
            "400": {
            "description": "Invalid request data - duplicate name, invalid format, or validation errors",
            "content": {
                "application/json": {
                "schema": {
                    "type": "object",
                    "properties": {
                    "status": {
                        "type": "boolean",
                        "example": false
                    },
                    "result": {
                        "type": "string",
                        "description": "Error message",
                        "example": "Eval template with this name already exists"
                    }
                    }
                }
                }
            }
            },
            "401": {
            "description": "Authentication credentials were not provided"
            },
            "500": {
            "description": "Failed to create evaluation template",
            "content": {
                "application/json": {
                "schema": {
                    "type": "object",
                    "properties": {
                    "status": {
                        "type": "boolean",
                        "example": false
                    },
                    "result": {
                        "type": "string",
                        "example": "Failed to create evaluation template"
                    }
                    }
                }
                }
            }
            }
        }
        }
    },
    "/model-hub/update-eval-template/": {
      "post": {
        "summary": "Update evaluation template",
        "description": "Update an existing evaluation template",
        "operationId": "updateEvalTemplate",
        "tags": ["Custom Eval Templates"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["template_id"],
                "properties": {
                  "template_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the template to update"
                  },
                  "name": {
                    "type": "string",
                    "description": "Updated template name"
                  },
                  "description": {
                    "type": "string",
                    "description": "Updated description"
                  },
                  "config": {
                    "type": "object",
                    "description": "Updated configuration"
                  },
                  "output_type": {
                    "type": "string",
                    "enum": ["Pass/Fail", "score", "choices"]
                  },
                  "criteria": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evaluation template updated successfully"
          },
          "400": {
            "description": "Invalid request data"
          },
          "401": {
            "description": "Authentication credentials were not provided"
          },
          "404": {
            "description": "Template not found"
          }
        }
      }
    },
    "/model-hub/delete-eval-template/": {
      "delete": {
        "summary": "Delete evaluation template",
        "description": "Delete an evaluation template",
        "operationId": "deleteEvalTemplate",
        "tags": ["Custom Eval Templates"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["template_id"],
                "properties": {
                  "template_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the template to delete"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Evaluation template deleted successfully"
          },
          "401": {
            "description": "Authentication credentials were not provided"
          },
          "404": {
            "description": "Template not found"
          }
        }
      }
    },
    "/model-hub/duplicate-eval-template/": {
      "post": {
        "summary": "Duplicate evaluation template",
        "description": "Create a copy of an existing evaluation template",
        "operationId": "duplicateEvalTemplate",
        "tags": ["Custom Eval Templates"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["template_id", "new_name"],
                "properties": {
                  "template_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the template to duplicate"
                  },
                  "new_name": {
                    "type": "string",
                    "description": "Name for the duplicated template"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Evaluation template duplicated successfully"
          },
          "400": {
            "description": "Invalid request data"
          },
          "401": {
            "description": "Authentication credentials were not provided"
          }
        }
      }
    },
    "/model-hub/eval-playground/": {
      "post": {
        "summary": "Run evaluation in playground",
        "description": "Test an evaluation template with sample data in the playground environment",
        "operationId": "runEvalPlayground",
        "tags": ["Eval Playground"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["template_id", "mapping"],
                "properties": {
                  "template_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the evaluation template to test"
                  },
                  "mapping": {
                    "type": "object",
                    "description": "Input data mapping for the evaluation",
                    "example": {
                      "input": "sample input text",
                      "expected_output": "expected result"
                    }
                  },
                  "model": {
                    "type": "string",
                    "description": "Optional LLM model override"
                  },
                  "kb_id": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true,
                    "description": "Optional knowledge base ID"
                  },
                  "error_localizer": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable error localization"
                  },
                  "input_data_types": {
                    "type": "object",
                    "description": "Data types for input mapping"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evaluation executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "description": "Evaluation result"
                    },
                    "execution_time": {
                      "type": "number",
                      "description": "Execution time in milliseconds"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid evaluation configuration"
          },
          "401": {
            "description": "Authentication credentials were not provided"
          }
        }
      }
    },
    "/model-hub/eval-playground/feedback/": {
      "post": {
        "summary": "Submit evaluation playground feedback",
        "description": "Provide feedback on evaluation playground execution",
        "operationId": "submitEvalPlaygroundFeedback",
        "tags": ["Eval Playground"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "execution_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "feedback": {
                    "type": "string",
                    "description": "Feedback text"
                  },
                  "rating": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5,
                    "description": "Rating from 1-5"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feedback submitted successfully"
          },
          "400": {
            "description": "Invalid request data"
          },
          "401": {
            "description": "Authentication credentials were not provided"
          }
        }
      }
    },
    "/model-hub/eval-sdk-code/": {
      "get": {
        "summary": "Get evaluation SDK code snippet",
        "description": "Retrieve SDK code snippet for using evaluation templates programmatically",
        "operationId": "getEvalSdkCode",
        "tags": ["Eval Playground"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Evaluation template ID"
          },
          {
            "name": "model",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "LLM model for the code snippet"
          },
          {
            "name": "mapping",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Mapping configuration as JSON string"
          },
          {
            "name": "error_localizer",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SDK code snippet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "python": {
                      "type": "string",
                      "description": "Python code snippet"
                    },
                    "javascript": {
                      "type": "string",
                      "description": "JavaScript code snippet"
                    },
                    "curl": {
                      "type": "string",
                      "description": "cURL command snippet"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided"
          }
        }
      }
    },
    "/model-hub/test-evaluation/": {
      "post": {
        "summary": "Test evaluation template",
        "description": "Test an evaluation template with sample data",
        "operationId": "testEvaluationTemplate",
        "tags": ["Custom Eval Templates"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["template_id"],
                "properties": {
                  "template_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the template to test"
                  },
                  "test_data": {
                    "type": "object",
                    "description": "Test input data"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "result": {
                      "description": "Test result"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid test configuration"
          },
          "401": {
            "description": "Authentication credentials were not provided"
          }
        }
      }
    },
    "/model-hub/get-eval-templates": {
      "get": {
        "summary": "Get available evaluation templates",
        "description": "Retrieve list of available evaluation templates including system and custom templates",
        "operationId": "getAvailableEvalTemplates",
        "tags": ["Eval Configuration"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "search_text",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search term for filtering templates"
          },
          {
            "name": "eval_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["system", "user", "custom"]
            },
            "description": "Type of evaluation to filter"
          },
          {
            "name": "eval_tags",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter templates by tags"
          }
        ],
        "responses": {
          "200": {
            "description": "List of evaluation templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "templates": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EvalTemplate"
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided"
          }
        }
      }
    },
    "/model-hub/get-eval-template-names": {
      "get": {
        "summary": "Get evaluation template names",
        "description": "Retrieve list of template names and IDs for quick reference",
        "operationId": "getEvalTemplateNames",
        "tags": ["Eval Configuration"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of template names",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided"
          }
        }
      }
    },
    "/model-hub/get-eval-logs": {
      "get": {
        "summary": "Get evaluation execution logs",
        "description": "Retrieve logs of evaluation executions with optional filtering",
        "operationId": "getEvalLogs",
        "tags": ["Eval Logs & Metrics"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "log_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Specific log ID to retrieve"
          },
          {
            "name": "dataset_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter logs by dataset ID"
          },
          {
            "name": "template_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter logs by template ID"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of logs to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Evaluation logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvalLog"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided"
          }
        }
      },
      "patch": {
        "summary": "Update eval log column configuration",
        "description": "Update column configuration for evaluation logs",
        "operationId": "updateEvalLogConfig",
        "tags": ["Eval Logs & Metrics"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["eval_id"],
                "properties": {
                  "eval_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "column_config": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "source": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuration updated successfully"
          }
        }
      }
    },
    "/model-hub/get-eval-logs-details": {
      "get": {
        "summary": "Get evaluation log details",
        "description": "Retrieve detailed information about a specific evaluation log",
        "operationId": "getEvalLogDetails",
        "tags": ["Eval Logs & Metrics"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "log_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "ID of the evaluation log"
          }
        ],
        "responses": {
          "200": {
            "description": "Evaluation log details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalLogDetail"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided"
          },
          "404": {
            "description": "Evaluation log not found"
          }
        }
      }
    },
    "/model-hub/get-eval-metrics": {
      "get": {
        "summary": "Get evaluation metrics",
        "description": "Retrieve aggregated metrics for evaluations",
        "operationId": "getEvalMetrics",
        "tags": ["Eval Logs & Metrics"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Dataset ID for filtering metrics"
          },
          {
            "name": "metric_type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Type of metric to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Evaluation metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_evaluations": {
                      "type": "integer"
                    },
                    "passed": {
                      "type": "integer"
                    },
                    "failed": {
                      "type": "integer"
                    },
                    "average_score": {
                      "type": "number"
                    },
                    "metrics": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided"
          }
        }
      }
    },
    "/model-hub/get-eval-config": {
      "get": {
        "summary": "Get evaluation configuration",
        "description": "Retrieve evaluation configuration options and available models",
        "operationId": "getEvalConfig",
        "tags": ["Eval Configuration"],
        "security": [
          {
            "ApiKeyAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Evaluation configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "output_types": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": ["Pass/Fail", "score", "choices"]
                    },
                    "template_types": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": ["Llm", "Futureagi", "Function"]
                    },
                    "supported_models": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": ["gpt-4", "gpt-3.5-turbo", "claude-3-opus"]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
        "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from /accounts/token/ endpoint"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "API Key for authentication. Click [here](https://app.futureagi.com/dashboard/keys) to access API Key"
      },
      "SecretKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Secret-Key",
        "description": "Secret Key for authentication. Click [here](https://app.futureagi.com/dashboard/keys) to access Secret Key"
      }
    },
    "schemas": {
      "Scenario": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "scenario_type": {
            "type": "string",
            "enum": [
              "DATASET",
              "SCRIPT",
              "GRAPH"
            ]
          },
          "organization": {
            "type": "string",
            "format": "uuid"
          },
          "dataset": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "dataset_rows": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ScenarioDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "scenario_type": {
            "type": "string"
          },
          "organization": {
            "type": "string",
            "format": "uuid"
          },
          "dataset": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "dataset_rows": {
            "type": "integer"
          },
          "graph": {
            "type": "object"
          },
          "prompts": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AgentDefinition": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "agent_name": {
            "type": "string"
          },
          "agent_type": {
            "type": "string"
          },
          "contact_number": {
            "type": "string"
          },
          "inbound": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "assistant_id": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "websocket_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "websocket_headers": {
            "type": "object",
            "nullable": true
          },
          "knowledge_base": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "api_key": {
            "type": "string"
          },
          "webhook_secret": {
            "type": "string",
            "nullable": true
          },
          "observability_provider": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AgentVersion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "version_number": {
            "type": "integer"
          },
          "version_name": {
            "type": "string",
            "nullable": true
          },
          "version_name_display": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "status_display": {
            "type": "string"
          },
          "score": {
            "type": "number",
            "nullable": true
          },
          "test_count": {
            "type": "integer"
          },
          "pass_rate": {
            "type": "number",
            "nullable": true
          },
          "description": {
            "type": "string"
          },
          "commit_message": {
            "type": "string"
          },
          "release_notes": {
            "type": "string",
            "nullable": true
          },
          "agent_definition": {
            "type": "string",
            "format": "uuid"
          },
          "organization": {
            "type": "string",
            "format": "uuid"
          },
          "configuration_snapshot": {
            "type": "object"
          },
          "is_active": {
            "type": "boolean"
          },
          "is_latest": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "EvalGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "organization": {
            "type": "string",
            "format": "uuid"
          },
          "workspace": {
            "type": "string",
            "format": "uuid"
          },
          "created_by": {
            "type": "string",
            "description": "Name of user who created the group"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "is_sample": {
            "type": "boolean"
          }
        }
      },
      "EvalTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "maxLength": 50
          },
          "owner": {
            "type": "string",
            "enum": ["system", "user", "organization"]
          },
          "config": {
            "type": "object"
          },
          "eval_tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomEvalTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "template_type": {
            "type": "string",
            "enum": ["Llm", "Futureagi", "Function"]
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "criteria": {
            "type": "string"
          },
          "output_type": {
            "type": "string",
            "enum": ["Pass/Fail", "score", "choices"]
          },
          "required_keys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "config": {
            "type": "object"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EvalLog": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "log_id": {
            "type": "string",
            "format": "uuid"
          },
          "template_id": {
            "type": "string",
            "format": "uuid"
          },
          "dataset_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "source": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EvalLogDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "log_id": {
            "type": "string",
            "format": "uuid"
          },
          "template_id": {
            "type": "string",
            "format": "uuid"
          },
          "source": {
            "type": "string"
          },
          "required_keys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "values": {
            "type": "object",
            "description": "Input mapping values"
          },
          "output": {
            "type": "object",
            "description": "Evaluation output"
          },
          "error_details": {
            "type": "object",
            "nullable": true,
            "description": "Error localization details if available"
          },
          "input_data_types": {
            "type": "object"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}
