---
/**
 * Tab Component
 * Used inside Tabs component to define individual tab panels
 * Mintlify-compatible
 */
interface Props {
  title: string;
  icon?: string;
}

const { title, icon } = Astro.props;
---

<div class="tab-panel" data-tab-title={title} data-tab-icon={icon}>
  <slot />
</div>
