---
/**
 * Tooltip Component
 * Mintlify-compatible tooltip with hover trigger
 */
interface Props {
  tip: string;
  cta?: string;
  href?: string;
}

const { tip, cta, href } = Astro.props;
---

<span class="tooltip-container relative inline-block">
  <span class="tooltip-trigger underline decoration-dotted decoration-[var(--color-text-tertiary)] underline-offset-4 cursor-help">
    <slot />
  </span>
  <span class="tooltip-content absolute z-50 hidden group-hover:block bottom-full left-1/2 -translate-x-1/2 mb-2 px-3 py-2 text-sm rounded-lg bg-[var(--color-bg-tertiary)] border border-[var(--color-border-default)] shadow-lg whitespace-nowrap max-w-xs">
    <span class="text-[var(--color-text-secondary)]">{tip}</span>
    {href && cta && (
      <a href={href} class="block mt-1 text-[var(--color-accent-primary)] hover:underline text-xs">
        {cta}
      </a>
    )}
    <span class="absolute top-full left-1/2 -translate-x-1/2 -mt-px border-4 border-transparent border-t-[var(--color-border-default)]"></span>
  </span>
</span>

<style>
  .tooltip-container:hover .tooltip-content {
    display: block;
  }
</style>
