---
/**
 * Logo component - full FutureAGI logo (star + wordmark)
 * Two separate SVGs with independent sizing, matching the landing page exactly.
 */
interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<div class:list={['inline-flex items-center gap-1.5', className]}>
  <!-- Star mark -->
  <svg
    class="h-[18px] w-auto flex-shrink-0"
    viewBox="0 0 47 47"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M46.8996 25.4157L43.4957 27.3812L40.0896 29.3467L36.6856 31.3143L33.2816 33.2798L31.314 36.686L29.3485 40.0899L27.383 43.496L25.4175 46.9H21.4844L23.4499 43.496L25.4175 40.0899L27.383 36.686L29.3485 33.2798L30.787 30.7852L33.2795 29.3467L36.6856 27.3812L40.0896 25.4157L36.6856 23.4502L33.2795 21.4826L29.8733 19.5171L28.2923 18.6056L27.3808 17.0268L25.4153 13.6206L23.4499 10.2145L25.4153 6.81055L27.3808 10.2145L29.3463 13.6206L30.7848 16.1131L33.2795 17.5516L36.6856 19.5171L40.0896 21.4826L43.4957 23.4502L46.8996 25.4157Z" fill="url(#docs-star-g1)"/>
    <path d="M40.0895 25.4153L36.6855 27.3808L33.2794 29.3463L30.7869 30.7848L29.3484 33.2795L27.3829 36.6856L25.4174 40.0896L23.4498 43.4957L21.4843 46.8996L19.5188 43.4957L17.5533 40.0896L15.5857 36.6856L13.6202 33.2816L10.2141 31.314L6.81009 29.3485L3.40397 27.383L0 25.4175V21.4844L3.40397 23.4499L6.81009 25.4175L10.2141 27.383L13.6202 29.3485L16.1148 30.787L17.5533 33.2795L19.5188 36.6856L21.4843 40.0896L23.4498 36.6856L25.4174 33.2795L27.3829 29.8733L28.2944 28.2923L29.8732 27.3808L33.2794 25.4153L36.6855 23.4499L40.0895 25.4153Z" fill="url(#docs-star-g2)"/>
    <path d="M10.2141 19.5188L6.81009 21.4843L10.2141 23.4498L13.6202 25.4174L17.0263 27.3829L18.6073 28.2944L19.5188 29.8732L21.4843 33.2794L23.4498 36.6855L21.4843 40.0895L19.5188 36.6855L17.5533 33.2794L16.1148 30.7869L13.6202 29.3484L10.2141 27.3829L6.81009 25.4174L3.40397 23.4498L0 21.4843L3.40397 19.5188L6.81009 17.5533L10.2141 15.5857L13.618 13.6202L15.5857 10.2141L17.5512 6.81009L19.5166 3.40397L21.4821 0H25.4153L23.4498 3.40397L21.4821 6.81009L19.5166 10.2141L17.5512 13.6202L16.1127 16.1148L15.2638 16.6051L13.6202 17.5533L10.2141 19.5188Z" fill="url(#docs-star-g3)"/>
    <path d="M46.9 21.4821V25.4153L43.496 23.4498L40.0899 21.4821L36.686 19.5166L33.2798 17.5512L30.7852 16.1127L29.3467 13.6202L27.3812 10.2141L25.4157 6.81009L23.4502 10.2141L21.4826 13.6202L19.5171 17.0263L18.6056 18.6073L17.0268 19.5188L13.6206 21.4843L10.2145 23.4498L6.81055 21.4843L10.2145 19.5188L13.6206 17.5533L15.2643 16.6051L16.1131 16.1148L17.5516 13.6202L19.5171 10.2141L21.4826 6.81009L23.4502 3.40397L25.4157 0L27.3812 3.40397L29.3467 6.81009L31.3143 10.2141L33.2798 13.618L36.686 15.5857L40.0899 17.5512L43.496 19.5166L46.9 21.4821Z" fill="url(#docs-star-g4)"/>
    <defs>
      <linearGradient id="docs-star-g1" x1="34.192" y1="6.81055" x2="34.192" y2="46.9" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/><stop offset="1" stop-color="#E6E6E7"/>
      </linearGradient>
      <linearGradient id="docs-star-g2" x1="20.0447" y1="21.4844" x2="20.0447" y2="46.8996" gradientUnits="userSpaceOnUse">
        <stop stop-color="#F3F3F3"/><stop offset="1" stop-color="#A9A9AA"/>
      </linearGradient>
      <linearGradient id="docs-star-g3" x1="12.7076" y1="0" x2="12.7076" y2="40.0895" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/><stop offset="1" stop-color="#E6E6E7"/>
      </linearGradient>
      <linearGradient id="docs-star-g4" x1="26.8553" y1="0" x2="26.8553" y2="25.4153" gradientUnits="userSpaceOnUse">
        <stop stop-color="#F3F3F3"/><stop offset="1" stop-color="#A9A9AA"/>
      </linearGradient>
    </defs>
  </svg>

  <!-- Text: FutureAGI — cropped viewBox to tight bounding box -->
  <svg
    class="h-[14px] w-auto flex-shrink-0"
    viewBox="54 12 139 23"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    aria-label="FutureAGI"
  >
    <path d="M54.7168 34.0518V12.8484H68.1504V15.4099H57.506V22.2689H67.1542V24.8304H57.506V34.0518H54.7168Z" fill="white"/>
    <path d="M76.1548 34.3933C75.0543 34.3933 74.0582 34.1372 73.1664 33.6249C72.2936 33.1126 71.6105 32.4011 71.1172 31.4903C70.6429 30.5606 70.4057 29.498 70.4057 28.3027V18.7113H73.0525V28.0181C73.0525 28.777 73.2043 29.4411 73.5079 30.0103C73.8305 30.5795 74.2669 31.0254 74.8171 31.348C75.3863 31.6706 76.0315 31.8318 76.7525 31.8318C77.4735 31.8318 78.1091 31.6706 78.6594 31.348C79.2286 31.0254 79.665 30.5606 79.9686 29.9534C80.2911 29.3462 80.4524 28.6252 80.4524 27.7904V18.7113H83.1277V34.0518H80.5378V31.0634L80.9647 31.3195C80.6042 32.2872 79.9875 33.0462 79.1147 33.5964C78.2609 34.1277 77.2743 34.3933 76.1548 34.3933Z" fill="white"/>
    <path d="M93.4613 34.2226C91.9623 34.2226 90.8049 33.7956 89.989 32.9418C89.1921 32.088 88.7937 30.8831 88.7937 29.3273V21.2444H86.0045V18.7113H86.5737C87.2568 18.7113 87.7975 18.5026 88.196 18.0852C88.5945 17.6678 88.7937 17.1175 88.7937 16.4344V15.1822H91.4406V18.7113H94.8843V21.2444H91.4406V29.2419C91.4406 29.7542 91.5164 30.2001 91.6682 30.5795C91.839 30.959 92.1141 31.2626 92.4936 31.4903C92.8731 31.699 93.3759 31.8034 94.002 31.8034C94.1349 31.8034 94.2961 31.7939 94.4859 31.7749C94.6946 31.7559 94.8843 31.737 95.0551 31.718V34.0518C94.8084 34.1087 94.5333 34.1467 94.2297 34.1656C93.9261 34.2036 93.67 34.2226 93.4613 34.2226Z" fill="white"/>
    <path d="M103.949 34.3933C102.848 34.3933 101.852 34.1372 100.96 33.6249C100.088 33.1126 99.4044 32.4011 98.9111 31.4903C98.4368 30.5606 98.1996 29.498 98.1996 28.3027V18.7113H100.846V28.0181C100.846 28.777 100.998 29.4411 101.302 30.0103C101.624 30.5795 102.061 31.0254 102.611 31.348C103.18 31.6706 103.825 31.8318 104.546 31.8318C105.267 31.8318 105.903 31.6706 106.453 31.348C107.022 31.0254 107.459 30.5606 107.762 29.9534C108.085 29.3462 108.246 28.6252 108.246 27.7904V18.7113H110.922V34.0518H108.332V31.0634L108.759 31.3195C108.398 32.2872 107.781 33.0462 106.909 33.5964C106.055 34.1277 105.068 34.3933 103.949 34.3933Z" fill="white"/>
    <path d="M115.022 34.0518V18.7113H117.612V21.529L117.328 21.1305C117.688 20.2577 118.238 19.6126 118.978 19.1952C119.718 18.7588 120.62 18.5406 121.682 18.5406H122.621V21.0451H121.284C120.202 21.0451 119.329 21.3867 118.665 22.0697C118.001 22.7338 117.669 23.6825 117.669 24.9158V34.0518H115.022Z" fill="white"/>
    <path d="M132.031 34.3933C130.551 34.3933 129.232 34.0423 128.075 33.3403C126.917 32.6382 126.007 31.68 125.342 30.4657C124.678 29.2324 124.346 27.8568 124.346 26.3389C124.346 24.802 124.669 23.4358 125.314 22.2405C125.978 21.0451 126.87 20.1059 127.989 19.4229C129.128 18.7208 130.399 18.3698 131.803 18.3698C132.942 18.3698 133.947 18.5785 134.82 18.9959C135.712 19.3944 136.461 19.9446 137.068 20.6467C137.695 21.3297 138.169 22.1172 138.491 23.0089C138.833 23.8817 139.004 24.7925 139.004 25.7412C139.004 25.9499 138.985 26.1871 138.947 26.4527C138.928 26.6994 138.899 26.9365 138.861 27.1642H126.282V24.8874H137.325L136.072 25.912C136.243 24.9253 136.148 24.043 135.788 23.2651C135.427 22.4871 134.896 21.8705 134.194 21.4151C133.492 20.9597 132.695 20.7321 131.803 20.7321C130.911 20.7321 130.095 20.9597 129.355 21.4151C128.615 21.8705 128.037 22.5251 127.619 23.3789C127.221 24.2138 127.06 25.2099 127.135 26.3673C127.06 27.4868 127.23 28.4734 127.648 29.3273C128.084 30.1621 128.691 30.8167 129.469 31.2911C130.266 31.7464 131.13 31.9741 132.059 31.9741C133.084 31.9741 133.947 31.737 134.649 31.2626C135.351 30.7883 135.92 30.1811 136.357 29.4411L138.577 30.5795C138.273 31.2816 137.799 31.9267 137.154 32.5149C136.528 33.0841 135.778 33.5395 134.905 33.881C134.052 34.2226 133.093 34.3933 132.031 34.3933Z" fill="white"/>
    <path d="M145.638 34.0518L153.237 12.8484H156.539L164.138 34.0518H161.149L159.413 29.0711H150.363L148.627 34.0518H145.638ZM151.245 26.5096H158.531L154.49 14.8691H155.286L151.245 26.5096Z" fill="white"/>
    <path d="M175.739 34.3933C174.24 34.3933 172.855 34.1277 171.583 33.5964C170.312 33.0462 169.212 32.2777 168.282 31.2911C167.352 30.3044 166.622 29.147 166.09 27.8188C165.578 26.4907 165.322 25.0391 165.322 23.4643C165.322 21.8705 165.578 20.4095 166.09 19.0813C166.603 17.7531 167.324 16.5957 168.253 15.6091C169.183 14.6224 170.284 13.8635 171.555 13.3322C172.826 12.782 174.211 12.5068 175.71 12.5068C177.171 12.5068 178.48 12.763 179.638 13.2753C180.814 13.7876 181.801 14.4517 182.598 15.2675C183.414 16.0834 183.992 16.9562 184.334 17.886L181.829 19.1098C181.336 17.8765 180.567 16.8993 179.524 16.1783C178.48 15.4573 177.209 15.0968 175.71 15.0968C174.23 15.0968 172.911 15.4478 171.754 16.1498C170.616 16.8519 169.724 17.829 169.079 19.0813C168.434 20.3336 168.111 21.7946 168.111 23.4643C168.111 25.115 168.434 26.5666 169.079 27.8188C169.743 29.0711 170.644 30.0483 171.783 30.7503C172.94 31.4524 174.259 31.8034 175.739 31.8034C177.029 31.8034 178.196 31.5282 179.239 30.978C180.283 30.4278 181.108 29.6688 181.715 28.7011C182.323 27.7335 182.626 26.614 182.626 25.3427V24.0335L183.907 25.2289H175.71V22.8097H185.444V24.6881C185.444 26.1681 185.188 27.5058 184.675 28.7011C184.163 29.8965 183.461 30.9211 182.569 31.7749C181.677 32.6098 180.643 33.2549 179.467 33.7103C178.291 34.1656 177.048 34.3933 175.739 34.3933Z" fill="white"/>
    <path d="M189.212 34.0518V12.8484H192.001V34.0518H189.212Z" fill="white"/>
  </svg>
</div>
